{% set title = 'Blog − L’enfer des paquets Python : le sac de nœuds' %}
{% set description = 'La gestion des paquets Python est parfois un enfer. Vous ne voyez pas de quoi je veux parler ? Je vous montre deux ou trois trucs, et on en reparle après…' %}
{% set image = url_for('static', filename='images/00003-image.jpg') %}

{% extends '_layout.jinja2' %}

{% block content %}

  <article>
    <header>
      <h2>L’enfer des paquets Python : le sac de nœuds (1 / 7)</h2>
      <aside><time datetime="2020-06-02">2 juin 2020</time>, par Guillaume</aside>
      <p>
        La gestion des paquets Python est parfois un enfer. Vous ne voyez pas
        de quoi je veux parler ? Je vous montre deux ou trois trucs, et on en
        reparle après…
      </p>
    </header>

    {% include 'articles/_python_contents.jinja2' %}

    <section>
      <h3>C’est quoi, le problème ?</h3>
      <p>
        Si vous êtes là, je suppose que vous avez déjà fait un peu de
        Python. Vous avez déjà installé un projet Python, avec des
        dépendances. Et pour faire tout cela, il est possible que vous ayez eu
        à faire certaines choses. Beaucoup de choses. Beaucoup trop de
        choses. Pas tant que ça ? Je parie que vous avez déjà rencontré des
        trucs qui s’appellent
        <code>pip</code>, <code>pipenv</code>, <code>poetry</code>,
        <code>setuptools</code>, <code>distutils</code>,
        <code>requirements.txt</code>, <code>setup.py</code>,
        <code>Pipfile</code>, <code>setup.cfg</code>,
        <code>pyproject.toml</code>, <code>venv</code>,
        <code>virtualenv</code>, <code>wheel</code>… Je m’arrête là, mais vous
        en connaissez encore d’autres, sans vous en rendre compte.
      </p>
      <p>
        C’est trop, et ce n’est pas normal.
      </p>
      <figure>
        <img src="{{ url_for('static', filename='images/00003-xkcd.png') }}" alt="Mandatory Related XKCD™" title="The Python environmental protection agency wants to seal it in a cement chamber, with pictoral messages to future civilizations warning them about the danger of using sudo to install random Python packages." />
        <figcaption>
          Le <a href="https://xkcd.com/1987/">XKCD</a> obligatoire
        </figcaption>
      </figure>
      <p>
        Une phrase du
        <a href="https://www.python.org/dev/peps/pep-0020/">Zen de Python</a>
        dit à juste titre « There should be one− and preferably only one
        −obvious way to do it ». Vous le voyez, là, le problème ?
      </p>
    </section>

    <section>
      <h3>L’horreur des débuts</h3>
      <p>
        Vous ne vous rappelez peut-être pas, mais à un moment vous ne
        connaissiez pas Python. Si, si, je vous assure.
      </p>
      <p>
        Tentez d’expliquer à quelqu’un à l’aise derrière un clavier (mais qui
        ne connaît pas Python) comment installer un programme Python. À sa
        place, en bon néophyte du XXI<sup>e</sup> siècle, je m’attendrais à
        quelque chose comme :
      </p>
      <ol>
        <li>
          Installe Python en suivant le super tuto super court de la super doc,
          ou à la limite avec la commande
          <code>download-python-and-install-it</code>.
        </li>
        <li>
          Installe ton programme en cliquant ici, ou à la limite avec la
          commande <code>python-install mon-programme</code>.
        </li>
      </ol>
      <p>
        Désolé de casser vos rêves : ça ne se passe pas comme ça du tout. Mais
        alors pas du tout. Le « super tuto super court de la super doc » pour
        installer Python n’existe pas. Et il existe beaucoup trop de programmes
        <code>python-install</code>, tous incompatibles entre eux, dont aucun
        n’est fourni avec Python, pour ce que soit sympa d’installer votre
        programme.
      </p>
      <p>
        Ouais : 🤦. On est d’accord.
      </p>

      <h4>Paye ton tuto</h4>
      <p>
        Si on parle de tuto, la meilleure source est sans doute à trouver du
        côté de
        <a href="https://python-guide-fr.readthedocs.io/fr/latest/starting/installation.html">The Hitchhiker’s Guide to Python</a>.
        Il y a toujours beaucoup à dire sur la documentation, mais pour
        apporter une pointe d’optimisme : le guide est traduit en plusieurs
        langues, et je trouve qu’il est à certains moments vraiment bien fait
        et plutôt didactique.
      </p>
      <figure>
        <img src="{{ url_for('static', filename='images/00003-old-guy.jpg') }}" alt="Hide the Pain Harold" title="Ça fait 4 jours que j’essaie d’installer un paquet." />
        <figcaption>
          « Alors tu vois, tu peux pas faire des f-strings avec ton virtualenv
          parce qu’il est en Python 2 »
        </figcaption>
      </figure>
      <p>
        Je ne parlerai pas du fait que ce n’est pas la documentation
        officielle. Ni du fait que tout ce guide est une promotion à peine
        déguisée à la gloire des projets de son discutable auteur. Non,
        n’insistez pas, je ne déverserai pas mon fiel.
      </p>
      <p>
        Problème : ce tuto n’est ni court, ni simple. Vous êtes sur macOS ?
        Voici ce qui vous attend dès les premiers paragraphes :
      </p>
      <blockquote>
        Avant l’installation de Python, vous devrez avoir installé GCC. GCC
        peut être obtenu en téléchargeant Xcode, en plus léger, Command Line
        Tools (vous devez avoir un compte Apple) ou bien le paquet encore plus
        petit OSX-GCC-Installer.
      </blockquote>
      <p>
        Je vous épargne l’enfer 🔥 de l’installation sous Windows, où il existe
        une liste démoniaque de solutions toutes plus ou moins bancales. Python
        est dans le Store (c’est
        <a href="https://www.microsoft.com/fr-fr/search?q=python">ce que dit Microsoft</a>),
        dans Chocolatey (c’est
        <a href="https://docs.python-guide.org/starting/install3/win/">ce que dit le Hitchhiker’s Guide en anglais</a>,
        mais
        <a href="https://python-guide-fr.readthedocs.io/fr/latest/starting/install/win.html">pas en français</a>),
        sur <code>python.org</code> (c’est
        <a href="https://www.python.org/downloads/windows/">ce que dit <code>python.org</code></a>,
        mais
        <a href="https://docs.python.org/3/tutorial/interpreter.html"> pas sa documentation </a>).
      </p>
      <p>
        Quelle est la meilleure solution ? Je ne sais pas. En fait il n’y en a
        pas. Et c’est très mal.
      </p>

      <h4>Paye ton installeur</h4>
      <p>
        D’accord pour ce premier point un peu désastreux. Mais… On pourrait
        peut-être se rattraper sur le second point ? Installer un paquet après
        avoir installé Python devrait être un jeu d’enfant. On fait <code>pip
        install mon-paquet</code>, non ?
      </p>
      <p>
        Non.
      </p>
      <p>
        <code>sudo pip install mon-paquet</code> plutôt, non ?
      </p>
      <p>
        Non. Non. Non. Non. Non. Non. Non. Non.
      </p>
      <p>
        Pour installer un paquet, il faut créer un environnement virtuel, mais
        en fait pas tout le temps. Pour créer un environnement virtuel, on va
        utiliser un module
        <a href="https://docs.python.org/3/tutorial/venv.html">intégré dans Python</a>
        mais
        <a href="https://packages.ubuntu.com/search?keywords=python3-venv">en fait pas tout le temps</a>.
        Et après on utilisera un programme
        <a href="https://docs.python.org/3/tutorial/venv.html?highlight=pip#managing-packages-with-pip">intégré dans Python</a>
        mais
        <a href="https://packages.ubuntu.com/search?keywords=python3-pip">en fait pas tout le temps</a>.
        Et après le paquet s’installera, mais
        <a href="https://github.com/pypa/pip/issues">en fait pas tout le temps</a>.
      </p>
      <p>
        Si vous ne voulez pas vous prendre la tête, vous pouvez suivre
        <a href="https://docs.python-guide.org/dev/virtualenvs/#installing-pipenv">ce que dit le Hitchhiker’s Guide</a>
        et utiliser Pipenv (je vous laisse deviner qui a créé ce joyeux
        outil). Bon, bien sûr il faudra passer outre le fait que Pipenv a
        abandonné ses utilisateurs un an et demi avec une version cassée sans
        mise à jour. Il faudra fermer les yeux sur le fait que le projet est
        tentaculaire, englobe une quarantaine de projets dupliqués et parfois
        modifiés, et fait plus de 200 000 lignes de code 😱…
      </p>
      <p>
        Hahahahahahaha. Haha. Non.
      </p>
    </section>

    <section>
      <h3>La solitude de la création de paquets</h3>
      <p>
        Tout ça, c’est juste quand on installe un paquet. Si vous voulez créer
        et distribuer un paquet, armez-vous de patience, attendez-vous à
        d’autres surprises en coulisses.
      </p>
      <figure>
        <img src="{{ url_for('static', filename='images/00003-jack.jpg') }}" alt="Diable en boîte" title="Ça fait peur." />
        <figcaption>À chaque fois que vous croyez avoir fermé la boîte à mauvaises nouvelles, ça s’ouvre sans prévenir</figcaption>
      </figure>
      <p>
        Soyons francs : il existe
        <a href="https://packaging.python.org/tutorials/packaging-projects/">un tuto</a>
        et
        <a href="https://packaging.python.org/guides/distributing-packages-using-setuptools/">un guide</a>
        pour apprendre à faire des paquets. Ces documents sont plutôt
        bien rédigés et devraient vous amener rapidement à pouvoir mettre en
        ligne votre bibliothèque. En théorie, on est pris par la main. En
        théorie.
      </p>
      <p>
        En pratique, les choses sont beaucoup plus chaotiques. Si l’on prend
        seulement trois projets comme
        <a href="https://github.com/pallets/flask">Flask</a>,
        <a href="https://github.com/psf/requests">Requests</a> et
        <a href="https://github.com/numpy/numpy">NumPy</a>, on arrive à une
        liste assez importante de fichiers liés de près ou de loin à la gestion
        de paquets, sans compter les classiques <code>README</code>,
        <code>LICENSE</code> et consorts :
      </p>
      <ul>
        <li><code>setup.py</code>,</li>
        <li><code>setup.cfg</code>,</li>
        <li><code>MANIFEST.in</code>,</li>
        <li><code>Pipfile</code>,</li>
        <li><code>Pipfile.lock</code>,</li>
        <li><code>tox.ini</code>,</li>
        <li><code>pytest.ini</code>,</li>
        <li><code>.coveragerc</code>,</li>
        <li><code>requirements.txt</code>,</li>
        <li><code>pyproject.toml</code>…</li>
      </ul>
      <p>
        La mauvaise nouvelle, c’est que Python ne fournit pas d’outil pour
        créer un projet prêt à être distribué. Vous allez soit vous perdre dans
        des projets tiers qui vont faire ça à leur manière (je te regarde
        encore de travers, Pipenv), soit vous allez apprendre à la dure à quoi
        servent ces fichiers bizarres.
      </p>
      <p>
        (Petite note amusante : <code>setup.py</code>, <code>setup.cfg</code>,
        <code>requirements.txt</code> et <code>pyproject.toml</code> permettent
        tous les quatre, entre autres, de lister des dépendances d’un
        projet. Ils utilisent 4 formats de fichiers différents, dont l’un n’est
        même pas géré par la bibliothèque standard de Python.)
      </p>
      <p>
        Les différents tutos et aides en ligne ne vous fourniront que des
        informations parcellaires et souvent obsolètes. Et pour cause : les
        bonnes pratiques changent constamment. Les outils ont souvent été
        développés sans spécifications, avec de la documentation au mieux
        lacunaire (je pense très fort à toi, <code>setuptools</code>). Le monde
        entier propose ses idées, de nouveaux outils fleurissent régulièrement,
        et tout prend vite l’allure de modes frénétiques qui tombent en
        désuétude au bout de quelques années (voire quelque mois si vous n’avez
        pas de chance)…
      </p>
      <p>
        Je vous entends d’ici défendre votre langage chéri. « Oui, mais c’est
        compliqué, tout ça tout ça, bla bla bla bla… ». Vous voulez pleurer ?
        Allez sur
        <a href="https://doc.rust-lang.org/cargo/">la doc de Cargo</a>, le
        gestionnaire de paquets de Rust.
        <a href="https://doc.rust-lang.org/cargo/getting-started/installation.html">La première page</a>

        est la page d’installation, elle contient 136 mots (dixit
        <code>wc</code>), commandes incluses. Elle permet d’installer Rust,
        avec Cargo. 136 mots, c’est un de moins que le Zen de Python. Pour de
        vrai.
      </p>
      <p>
        <a href="https://doc.rust-lang.org/cargo/getting-started/first-steps.html">La seconde page</a>
        donne tout ce qu’il faut pour créer un paquet simple, avec un outil qui
        crée tous les fichiers. Elle contient le code du paquet, le fichier de
        métadonnées, les commandes lancées et leur résultat, un arbre des
        fichiers et dossiers en ASCII-art. Le tout en 183 mots.
      </p>
      <p>
        Voilà. C’est possible. Vous savez maintenant.
      </p>
    </section>

    <section>
      <h3>Et après ?</h3>
      <p>
        Avec Python, vous allez apprendre des choses au hasard de vos lectures
        en ligne, sur des blogs douteux comme celui-là. Vous allez tomber sur
        des solutions StackOverflow totalement dépassées, des astuces non
        spécifiées exploitant des détails d’implémentation qui changeront la
        semaine prochaine. On inclut les tests dans le paquet, ou pas ? On les
        met dans le module, ou pas ? On distribue un paquet source, ou pas ?
        On indique les versions exactes des dépendances, ou pas ? On met la doc
        dans un dossier à part, ou pas ? Autant de questions, et bien d’autres,
        pour lesquelles vous êtes dans la profonde solitude de la création de
        paquets.
      </p>
      <p>
        Vous vous dites sans doute que tout est perdu, que les gens qui ont
        développé tout ça sont incompétents, que Python est un langage
        finalement pourri et irrécupérable… Pourtant, non. Nous essaierons dans
        les prochains épisodes de comprendre pourquoi on en est arrivé là et
        combien les choses ont changé toutes ces années, souvent pour le
        mieux. Arriverons-nous un jour à construire un joli paquet ? Bien sûr.
      </p>
      <p>
        <a href="{{ url_for('blog', article='00005-l-enfer-des-paquets-python-les-racines-du-mal') }}">À suivre…</a>
      </p>
    </section>
  </article>

{% endblock content %}
