{% set title = 'Blog − Anonymisation vs. pseudonymisation' %}
{% set description = 'L’anonymisation et la pseudonymisation sont des concepts qui reviennent
      fréquemment sur les sujets liés aux données personnelles collectées et
      utilisées par diverses organisations et dans divers buts.' %}
{% set image = url_for('static', filename='images/00006-image.jpg') %}

{% extends '_layout.jinja2' %}

{% block content %}

  <article>
    <header>
      <h2>Anonymisation vs. pseudonymisation</h2>
      <aside><time datetime="2020-06-22">22 juin 2020</time>, par Lucie</aside>
      <p>
      L'anonymisation et la pseudonymisation sont des concepts qui reviennent
      fréquemment sur les sujets liés aux données personnelles collectées et
      utilisées par diverses organisations et dans divers buts.
      </p>
    </header>

    <section>
      <p>
      Ces concepts trouvent leur utilité dans différents domaines : par
      exemple en informatique, où ils permettent de répondre à
      des problématiques de sécurisation de données ; ou alors
      encore pour de la publication de données, comme pour
      l'<a href="https://guides.etalab.gouv.fr/juridique/">ouverture</a>
      des données publiques pour laquelle les éléments à caractère personnel
      sont à éclipser.
      </p>

      <p>
      La différence entre l'anonymisation et la pseudonymisation est que pour
      la première le processus est irréversible, tandis que pour la deuxième on
      peut revenir en arrière.
      </p>
    </section>

    <section>
      <h3>Anonymisation</h3>
      <p>
      Pour qu'un ensemble de données soit considéré comme anonymisé,
      il faut qu'il valide trois points :
      </p>
      <ul>
        <li>l'individualisation : on ne peut pas isoler une personne dans cet
          ensemble ;</li>
        <li>la corrélation : on ne peut pas retrouver les informations personnelles
          en croisant l'ensemble anonymisé avec un autre ensemble ;</li>
        <li>l'inférence : on ne peut pas déduire des nouvelles informations sur
          une personne.</li>
      </ul>
      <p>
      Il est impossible de retrouver des informations personnelles à partir d'un
      ensemble de données anonymisé.
      Cela peut être intéressant pour, par exemple, garder des données après
      leur date limite de conservation.
      </p>
    </section>

    <section>
      <h3>Pseudonymisation</h3>
      <p>
      De l'autre côté, avec la pseudonymisation, il est possible de retrouver
      des informations en les croisant avec d'autres informations supplémentaires.
      </p>

      <p>
      En effet, la pseudonymisation ne fait que remplacer les données qui permettent
      d'identifier directement une personne. Par exemple, pour un ensemble de
      données contenant des noms et des adresses, les noms peuvent être remplacés
      par des chaînes aléatoires tandis que les adresses sont laissées telles
      quelles. À partir de l'ensemble pseudonymisé, on ne peut pas retrouver les
      noms des personnes, mais avec la table de correspondance entre les noms et
      les chaînes aléatoires, c'est possible.
      </p>
      <p>
      La pseudonymisation est recommandée par le RGPD pour limiter les risques
      liés au traitement de données personnelles.
      </p>
    </section>

    <section>
      <h3>Un exemple</h3>
      <p>
      Sur une liste de noms associés à un montant de commandes, une anonymisation
      et une pseudonymisation pourraient donner quelque chose comme :
      </p>
      <table>
        <thead>
          <tr>
            <td>Originel</td>
            <td>Anonymisé</td>
            <td>Pseudonymisé</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>François Dupont - 65€</td>
            <td>xxxx - 65€</td>
            <td>TDSF - 65€</td>
          </tr>
          <tr>
            <td>Francine Michu - 43€</td>
            <td>xxxx - 43€</td>
            <td>UMEF - 43€</td>
          </tr>
          <tr>
            <td>Joseph Clinton - 28€</td>
            <td>xxxx - 28€</td>
            <td>NCHJ - 28€</td>
          </tr>
          <tr>
            <td>François Dupont - 12€</td>
            <td>xxxx - 12€</td>
            <td>TDSF - 12€</td>
          </tr>
          <tr>
            <td>Julie Fernand - 74€</td>
            <td>xxxx - 74€</td>
            <td>DFEJ - 74€</td>
          </tr>
        </tbody>
      </table>
      <p>
      Avec les données anonymisées, on peut seulement savoir qu'il y a 5 commandes
      dans le jeu de données originel et on peut calculer un montant moyen de
      commandes global.
      </p>
      <p>
      Avec la pseudonymisation, on sait en plus que deux des entrées concernent
      une même personne, ce qui permet d'avoir d'autres statistiques comme
      le montant moyen de commande par personne.
      </p>
      <p>
      La pseudonymisation permet de conserver plus d'informations sur les données
      sans en connaître le contenu exact.
      Cependant, il suffit d'avoir accès à la table de correspondance entre
      les données originelles et les données pseudonymisées pour retrouver les
      données initiales ; ce que ne permet pas l'anonymisation.
      </p>
    </section>

    <section>
      <p>
      L'anonymisation et la pseudonymisation sont donc deux processus distincts,
      qui répondent tous deux à la problématique d'utilisation de données
      personnelles tout en respectant les droits des personnes.
      Les cas d'usages ne sont pas forcément identiques. Par exemple,
      l'anonymisation permet de conserver des données plus longtemps que la
      durée définie alors que la pseudonymisation ne le permet pas.
      </p>

      <p>
      De prochains articles traiteront plus précisément de ces processus…
      </p>
    </section>
  </article>

{% endblock content %}
