{% set title = 'Blog − Déployer un site statique avec GitLabCI' %}
{% set description = 'Dans cet article, nous allons voir comment automatiser la mise à jour de son site avec GitLabCI.' %}
{% set image = url_for('static', filename='images/00001-image.jpg') %}

{% extends '_layout.jinja2' %}

{% block content %}

  <article>
    <header>
      <h2>Déployer un site statique avec GitLabCI</h2>
      <aside><time datetime="2020-05-19">19 mai 2020</time>, par Lucie</aside>
      <p>Dans cet article, nous allons voir comment automatiser la mise à jour de son site avec GitLabCI.</p>
    </header>

    <section>
      <p>
      Un site statique permet de présenter un même contenu fixe à tous les visiteurs. Il est généralement utilisé pour présenter un produit ou une marque et est plutôt simple à mettre en ligne. En effet, il suffit de mettre les fichiers sur un serveur et de les rendre accessibles via un serveur web, comme Nginx par exemple.
      </p>
      <p>
      Une fois créé et mis en ligne, il arrive un moment où l'on va vouloir modifier ce site. On va alors effectuer les changements sur les fichiers concernés, puis il faut penser à aller les mettre à jour sur le serveur.
      </p>
      <p>
Et cette mise à jour peut se révéler fastidieuse. Ce n'est pas particulièrement intéressant et on risque d'oublier des choses. C'est pourquoi, utiliser un outil, comme GitLabCI, pour faire cette étape à notre place se révèle utile.
      </p>
    </section>

    <section>
      <h3>Ingrédients</h3>
      <ul>
        <li>un projet sur GitLab qui contient les fichiers sources</li>
        <li>un accès au serveur cible</li>
      </ul>
    </section>


    <section>
      <h3>Préparation</h3>
      <h4>Étape 1</h4>
      <p>Sur le serveur, générer une clé ssh en utilisant la commande <code>ssh-keygen</code>.</p>

      <h4>Étape 2</h4>
      <p>Sur GitLab, dans les paramètres pour l’intégration continue, rajouter une variable qui contient le contenu de la clé privée générée à l’étape précédente.</p>

      <h4>Étape 3</h4>
      <p>Dans le projet, créez un fichier <code>.gitlab-ci.yml</code>. Ce fichier va permettre d’indiquer les actions à effectuer pour déployer le site.</p>

      {{ 'deployer-un-site-statique-avec-gitlabci.yml' | pygmentize }}

      <h4>Étape 4</h4>
      <p>Mettre <code>gitlab.com</code> dans la liste des hôtes connus sur le serveur cible avec la commande <code>ssh-keyscan -t rsa gitlab.com >>> .ssh/known_hosts</code>.</p>
      <p>Mettre la clé publique créée à l’étape 2 dans la liste des clés autorisées dans <code>.ssh/authorized_keys</code>.</p>


      <p>Et voilà, le site sera désormais mis à jour à chaque nouvelle modification !</p>
    </section>
  </article>

{% endblock content %}
