{% set title = 'Blog − Un site léger en 2020' %}
{% set description = 'Aujourd’hui nous allons parler du site sur lequel vous êtes en train de
      lire ces lignes et des outils que nous avons utilisés pour le créer.' %}
{% set image = url_for('static', filename='images/00012-image.jpg') %}

{% extends '_layout.jinja2' %}

{% block content %}

  <article>
    <header>
      <h2>Un site léger en 2020</h2>
      <aside><time datetime="2020-08-20">20 août 2020</time>, par Lucie</aside>
      <p>
      Aujourd’hui nous allons parler du site sur lequel vous êtes en train de
      lire ces lignes et des outils que nous avons utilisés pour le créer.
      </p>
    </header>

    <section>
      <h3>De quoi avions-nous besoin ?</h3>
      <p>
      Nous voulions avoir un site simple, rapide et léger. Hors de question donc
      d’utiliser des outils tels que Bootstrap et ses 156 ko de CSS (minifié), ou
      des librairies JavaScript. D’ailleurs pourquoi mettre du JavaScript alors
      que nous n’avions besoin que de deux pages ?
      </p>
      <p>
      C’est ainsi que nous décidâmes de développer notre site uniquement avec du
      vieux HTML et CSS. Quoi de plus rapide que des pages statiques servies
      directement avec le strict minimum ?
      </p>
      <p>
      Nous étions alors plutôt satisfaits de nos deux pages. Certes le header et
      le footer se trouvaient dupliqués. Mais bon, s’il fallait les changer, ce
      n’était que dans deux fichiers HTML. Ça va.
      </p>
      <p>
      Puis nous voulûmes rajouter un blog…
      </p>
    </section>

    <section>
      <h3>De nouveaux besoins</h3>
      <p>
      Avec un blog, ça n’allait plus être juste deux pages et donc deux
      fichiers. Non. Potentiellement ça allait être une infinité de pages et
      donc de fichiers. Ce n’était pas raisonnable de dupliquer du contenu autant
      de fois.
      </p>
      <p>
      Il nous fallait alors quelque chose qui nous permette d’utiliser des
      templates. Et pourquoi pas en utilisant un framework web ?
      </p>
      <p>
      <a href="https://github.com/gohugoio/hugo">Hugo</a>,
      <a href="https://github.com/jekyll/jekyll">Jekyll</a>,
      <a href="https://github.com/getpelican/pelican">Pelican</a>,
      <a href="https://gitlab.com/hashbangfr/coldcms">ColdCMS</a>…
      Le choix est large. Tous ces frameworks
      proposent de nombreuses fonctionnalités et sont plutôt faciles à utiliser.
      C’est bien, c’est souvent pratique. Mais ce n’est pas ce qui nous
      convenait.
      </p>
      <p>
      Nous voulions un outil puissant, modulable et qui nous permettrait de
      faire ce que nous voudrions plus tard sans être contraints par un modèle
      de base. Nous pensâmes alors à <a href="https://github.com/pallets/flask/">Flask</a>.
      </p>
      <p>
      Cette idée semblait plutôt intéressante et simple. Mais avec Flask,
      contrairement aux autres outils, ce ne
      serait plus des pages statiques servies directement. Adieu la rapidité.
      </p>
      <p>
      Nous nous tournâmes alors vers <a href="https://pythonhosted.org/Frozen-Flask/">Frozen-Flask</a>.
      </p>
    </section>

    <section>
      <h3>Frozen-Flask</h3>
      <p>
      Cet outil permet de générer les fichiers statiques
      correspondants à une application Flask. Nous étions sauvés ! Nous n’avions
      plus qu’à transformer notre site en application Flask et à nous les
      fichiers statiques !
      </p>
      <p>
      Grâce à la magie des templates, plus de duplication de header et de
      footer. Ils sont bien rangés dans un seul et unique template ; ce qui est
      bien plus facile à maintenir ;)
      </p>
    </section>

    <section>
      <h3>Et il est lourd comment ?</h3>
      <p>
      Toujours sans aucun JavaScript et uniquement en statique, aller sur la
      page d’accueil du site ne coûtera que 312 ko de bande passante. Alors que
      d’après l’<a href="http://www.ecoindex.fr/resultats/?id=82564">écoIndex</a>, la médiane est à 1.41Mo…
      </p>
    </section>

    <section>
      <p>
      Si vous souhaitez en savoir plus sur les entrailles de notre site, le
      code est en libre accès sur
      <a href="https://gitlab.com/stellalyon/www-stella">GitLab</a>.
      </p>
    </section>
  </article>

{% endblock content %}
