{% set title = 'Blog − Passer de Travis CI à GitHub Actions' %}
{% set description = ' En dehors de Stella, on s’occupe de projets libres (comme
      WeasyPrint par
      exemple). Et bien sûr, ils ont des tests ! Après avoir utilisé Travis CI,
      nous avons décidé de passer sur GitHub Actions. En voici un petit retour
      d’expérience :).' %}
{% set image = url_for('static', filename='images/00016-image.png') %}

{% extends '_layout.jinja2' %}

{% block content %}

  <article>
    <header>
      <h2>Passer de Travis CI à GitHub Actions</h2>
      <aside><time datetime="2020-10-01">1 octobre 2020</time>, par Lucie</aside>
      <p>
      En dehors de Stella, on s’occupe de projets libres (comme
      <a href="https://github.com/Kozea/WeasyPrint">WeasyPrint</a> par
      exemple). Et bien sûr, ils ont des tests ! Après avoir utilisé Travis CI,
      nous avons décidé de passer sur GitHub Actions. En voici un petit retour
      d’expérience :).
      </p>
    </header>

    <section>
      <h3>Pourquoi Travis ?</h3>
      <p>
      De nombreux services proposent de l’intégration continue, peu importe la
      plateforme où sont les dépôts des projets (dans notre cas, c’est GitHub).
      Parmi ces services, on retrouve <a href="https://travis-ci.com/">Travis CI</a>,
      <a href="https://docs.gitlab.com/ee/ci/">GitLab CI</a> ou encore
      <a href="https://docs.github.com/en/free-pro-team@latest/actions">GitHub Actions</a>.
      </p>
      <p>
      Au début, Travis a été choisi tout simplement parce que c’était le seul
      service largement utilisé qui existait et qui était gratuit, au moins pour les projets
      libres.
      </p>
    </section>

    <section>
      <h3>Pourquoi changer ?</h3>
      <p>
      Travis offre des fonctionnalités plutôt pratiques, comme par exemple de
      pouvoir lancer les tests sur MacOS et Windows. C’est plutôt bien et ce n’est
      pas forcément le cas de tous les services de CI.
      </p>
      <p>
      La configuration se fait assez simplement avec un fichier
      <code>.travis.yml</code> à mettre à la racine du projet.
      </p>
      <p>
      Par contre, <a href="https://docs.travis-ci.com/user/languages/python/">
        Python ne fait pas partie des langages supportés pour Windows
        et MacOS</a>,
      ce qui est un peu dommage quand on a des projets en Python. Malgré cela, on
      peut quand même s’en sortir.
      </p>
      <p>
      Mais surtout… c’est lent.
      </p>
    </section>

    <section>
      <h3>Changer, oui. Mais pour quoi ?</h3>
      <p>
      Alors oui c’est lent, mais il nous fallait un service qui dispose de
      fonctionnalités au moins équivalentes. Hors de question de perdre les tests
      sous Windows qui avaient été enfin mis !
      </p>
      <p>
      Dans les choix possibles, nous avions GitLab CI et GitHub Actions qui
      proposent un service gratuit sans limite de minutes d’utilisation trop
      restrictives pour notre utilisation.
      </p>
      <p>
      Malgré notre grand amour pour GitLab, il n’est pas possible de lancer des
      tests sous MacOS et la fonctionnalité est en bêta pour Windows…
      </p>
      <p>
      Alors oui, il est possible d’installer soi-même des runners sur ses
      machines pour avoir tout ça. Mais quand on n’a pas de Windows ou de Mac
      sous la main… c’est de suite plus compliqué. (Note : il y a des
      <a href="https://about.gitlab.com/blog/2020/01/21/windows-shared-runner-beta/">
        runners partagés pour Windows</a>.)
      </p>
      <p>
      Et avec GitHub Actions, on peut lancer des tests sur Windows et MacOS.
      C’est fantastique, voici l’élu !
      </p>
    </section>

    <section>
      <h3>GitHub Actions en action</h3>
      <p>
      De la même manière que Travis, la configuration se fait par un fichier
      YAML à mettre dans un dossier à la racine du dépôt. On peut y mettre
      plusieurs fichiers si l’on veut faire différentes choses et bien les
      séparer (mais nous, on veut juste lancer les tests, pour l’instant).
      </p>
      <p>
      Dans un fichier de configuration GitHub Actions, chaque ligne qui est
      exécutée est une Action. Et GitHub Actions dispose d’Actions déjà toutes
      faites qui nécessitent juste d’être appelées (et tout le monde peut
      proposer les siennes aussi :) ). Ainsi une instance « vide » est
      facilement customisable pour préparer tout ce dont on a besoin pour lancer
      nos tests.
      </p>
      <p>
      Dans ce large univers d’Actions, il y en a une qui nous intéresse tout
      particulièrement : <a href="https://github.com/marketplace/actions/setup-python">setup-python</a>.
      C’est elle qui va installer le minimum
      requis pour faire des choses avec du Python. Du genre : Python et pip par
      exemple, très pratique. Pour Linux, MacOS et Windows. Avec la version de
      Python souhaitée. Vraiment très pratique.
      </p>
      <p>
      Après, il n’y a rien de bien différent. On peut faire des matrices pour
      gérer les combinaisons de versions et d’OS.
      </p>
    </section>

    <section>
      <h3>Un petit comparatif peut-être ?</h3>
      <p>
      Pour un projet plutôt basique en Python, nous avions ce fichier pour
      Travis :
      </p>

      {{ '00016-travis-ci.yml' | pygmentize }}

      <p>
      Ce qui lance des tests sur Linux pour quatre différentes versions de
      Python, ainsi que sur MacOS et Windows pour une seule version. Soit au
      total <a href="https://travis-ci.org/github/Kozea/tinycss2">six
        environnements de test</a>. Travis met entre <code>2 min 30</code> et
      <code>15 min</code> pour tout faire.
      </p>
      <p>
      Pour GitHub Actions, nous avons à présent ce fichier :
      </p>

      {{ '00016-github-actions.yml' | pygmentize }}

      <p>
      C’est <a href="https://github.com/Kozea/tinycss2/actions">onze
        environnements de test</a> qui sont lancés, pour un temps
      d’exécution entre <code>1 min 20</code> et <code>4 min</code>.
      </p>
      <p>
      GitHub Actions est bien plus rapide que Travis et nous permet de couvrir
      plus d’environnements différents !
      </p>
    </section>

    <section>
      <h3>Pour aller plus loin</h3>
      <p>
      Nous avons pris en exemple un projet qui ne nécessite que très peu de mise
      en place.
      </p>
      <p>
      Pour des projets où l’on veut exécuter des choses uniquement
      sur certains environnements, GitHub Actions offre une configuration plus
      élégante.
      </p>
      <p>
      Par exemple, pour WeasyPrint avec Travis nous avions :
      </p>

      {{ '00016-travis-ci-extrait.yml' | pygmentize }}

      <p>
      Et maintenant avec GitHub Actions :
      </p>

      {{ '00016-github-actions-extrait.yml' | pygmentize }}

      <p>
      Nous avons beaucoup parlé des environnements Python sur GitHub Actions,
      mais ce n’est pas le seul langage supporté. Il y a de
      <a href="https://github.com/marketplace?type=actions">nombreuses
        Actions</a>
      pour plein de langages et pour faire plein de choses ;).
      </p>
    </section>
  </article>

{% endblock content %}
