{% set title = 'Blog − Sous le masque de l’anonymisation' %}
{% set description = 'Différence entre
        anonymisation et pseudonymisation ✅,
        pseudonymisation ✅, anonymisation… C’est parti !' %}
{% set image = url_for('static', filename='images/00010-image.jpg') %}

{% extends '_layout.jinja2' %}

{% block content %}

  <article>
    <header>
      <h2>Sous le masque de l'anonymisation</h2>
      <aside><time datetime="2020-07-24">24 juillet 2020</time>, par Lucie</aside>
      <p>
      Différence entre <a href="https://www.stella.coop/blog/00006-pseudonymisation-vs-anonymisation.html">
        anonymisation et pseudonymisation</a> ✅,
      <a href="https://www.stella.coop/blog/00008-derriere-la-pseudonymisation.html">
        pseudonymisation</a> ✅, anonymisation… C'est parti !
      </p>
    </header>

    <section>
      <h3>Qu'est ce que c'est ?</h3>
      <p>
      L'anonymisation d'un ensemble de données est un procédé qui a pour but de
      rendre impossible l'identification des personnes auxquelles les données
      sont rattachées. C'est une opération qui est donc irréversible. Une fois
      l'anonymisation effective, les données ne sont plus soumises au RGPD car
      elles ne sont plus considérées comme des données personnelles.
      </p>
      <p>
      Un ensemble de données est considéré anonymisé si il est insensible à
      trois points :
      </p>
      <ul>
        <li>
          l'individualisation : obtenir des informations sur une personne précise ;
        </li>
        <li>
          la corrélation : retrouver des données identifiantes en croisant
          l'ensemble anonymisé avec un autre ensemble ;
        </li>
        <li>
          l'inférence : déduire des informations sur une personne.
        </li>
      </ul>
    </section>

    <section>
      <h3>Comment faire pour anonymiser ?</h3>
      <p>
      Pour anonymiser un ensemble de données, il est préférable de supprimer les
      données qui permettent d'identifier directement les personnes et les
      données qu'il n'est pas nécessaire de conserver. Il faut également choisir quelles
      techniques vont être mises en place et le degré de précision que l'on
      souhaite.
      </p>
      <p>
      Il existe deux grandes familles dans les techniques d'anonymisation : la
      randomisation et la généralisation.
      </p>
      <p>
      La randomisation modifie les valeurs des données pour en réduire leur
      précision, mais en conservant la répartition globale. Cela permet de
      protéger les données du risque d'inférence.
      </p>
      <p>
      La généralisation, quant à elle, généralise les valeurs des données pour
      que des données soient identiques pour plusieurs personnes. Grâce à cela,
      les risques de corrélation et d'individualisation sont limités.
      </p>
    </section>

    <section>
      <h3>La randomisation</h3>
      <h4>Ajout de bruit</h4>
      <p>
      L'ajout de bruit consiste à modifier la valeur de certains attributs de
      l'ensemble de données. On peut également rajouter de fausses données. Dans
      les deux cas, on essaye de conserver au mieux la distribution générale et
      on supprime au préalable les données quasi-identifiantes.
      </p>
      <p>
      Par exemple, l'ensemble de données suivant :
      </p>
      <table>
        <thead>
          <tr>
            <td>Nom</td><td>Âge</td><td>Myope (1 = oui, 0 = non)</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Clara</td><td>28</td><td>1</td>
          </tr>
          <tr>
            <td>Jean</td><td>33</td><td>0</td>
          </tr>
          <tr>
            <td>Julie</td><td>57</td><td>0</td>
          </tr>
          <tr>
            <td>Lionel</td><td>42</td><td>1</td>
          </tr>
        </tbody>
      </table>

      <p>peut ressembler à ça une fois du bruit ajouté :</p>

      <table>
        <thead>
          <tr>
            <td>Nom</td><td>Âge</td><td>Myope (1 = oui, 0 = non)</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>*</td><td>23</td><td>1</td>
          </tr>
          <tr>
            <td>*</td><td>38</td><td>0</td>
          </tr>
          <tr>
            <td>*</td><td>52</td><td>0</td>
          </tr>
          <tr>
            <td>*</td><td>47</td><td>1</td>
          </tr>
          <tr>
            <td>*</td><td>40</td><td>0</td>
          </tr>
          <tr>
            <td>*</td><td>47</td><td>1</td>
          </tr>
          <tr>
            <td>*</td><td>33</td><td>0</td>
          </tr>
          <tr>
            <td>*</td><td>40</td><td>1</td>
          </tr>
        </tbody>
      </table>

      <p>
      Les prénoms ont été supprimés, car ils sont quasi-identifiants.
      Quatres lignes ont été rajoutées et les âges des « vraies » lignes ont été
      modifiés avec un écart de plus ou moins 5. Les données sont moins précises
      que celles originales, mais la moyenne d'âge du groupe entier a été
      conservée ainsi que le ratio de personnes myopes.
      </p>
      <p>Cependant, le bruit aurait pu être rajouté de façon à conserver
      d'autres propriétés de l'ensemble de données ; par exemple en tenant
      compte du nombre de personnes myopes par tranche d'âge. Tout dépend
      de quelles informations on souhaite conserver.
      </p>

      <h4>Permutation</h4>
      <p>
      La permutation, comme son nom l'indique, consiste à permuter les valeurs
      des attributs entre eux. Les valeurs des attributs quasi-identifiants sont
      là aussi supprimées.
      </p>
      <p>
      Sur l'exemple précédent, une permutation pourrait donner ceci :
      </p>
      <table>
        <thead>
          <tr>
            <td>Nom</td><td>Âge</td><td>Myope (1 = oui, 0 = non)</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>*</td><td>33</td><td>1</td>
          </tr>
          <tr>
            <td>*</td><td>28</td><td>0</td>
          </tr>
          <tr>
            <td>*</td><td>42</td><td>0</td>
          </tr>
          <tr>
            <td>*</td><td>57</td><td>1</td>
          </tr>
        </tbody>
      </table>
      <p>
      Si la permutation permet de garder des informations sur l'ensemble des
      données, elle ne permet cependant pas de conserver des informations sur
      les sous-ensembles de données.
      </p>

      <h4>Confidentialité différentielle</h4>
      <p>
      La confidentialité différentielle est un indicateur qui est utilisé
      lorsque l'on met à disposition d'un tiers des sous-ensembles de
      l'ensemble données ; par exemple pour des statistiques.
      </p>
      <p>
      Lorsque le tiers demande un sous-ensemble, il faut que l'algorithme
      utilisé pour construire ce sous-ensemble ne permette pas de déduire des
      informations sur des individus en particulier.
      </p>
      <p>
      Sur notre exemple, si un tiers a à disposition un algorithme lui
      retournant la somme partielle des X premières ligne de l'ensemble et que
      ce tiers sait que Julie est la troisième personne de la liste, il peut
      facilement savoir si Julie est myope ou non.
      </p>
      <p>
      En effet, il lui suffit de demander la somme pour les trois
      premières lignes et celle pour les deux premières. Ainsi, il se
      retrouve avec les valeurs <code>1</code> et <code>1</code>. Une rapide
      soustraction lui permet d'obtenir <code>0</code> et donc de savoir que
      Julie n'est pas myope.
      </p>
      <p>
      De ce fait, cet algorithme n'est pas confidentiellement différentiel.
      </p>
      <p>
      Pour pallier les risques de ré-identification, les algorithmes doivent
      être vérifiés et il est bon de rajouter du bruit sur les sous-ensembles
      partagés.
      </p>
      <p>
      Attention, par ailleurs, tant que l'ensemble originel existe, les
      sous-ensembles générés sont considérés comme des données personnelles et
      sont donc soumis aux règlementations.
      </p>
    </section>


    <section>
      <h3>La généralisation</h3>
      <h4>L'agrégation et le k-anonymat</h4>
      <p>
      Pour généraliser des données, on les agrège entre elles suivant le niveau
      de précision dont on a besoin.
      </p>
      <p>
      Le k-anonymat permet, en quelque sorte, de mesurer la qualité de
      l'anonymisation induite par l'agrégation.
      </p>
      <p>
      Par exemple, pour cet ensemble de données :
      </p>

      <table>
        <thead>
          <tr>
            <td>Nom</td><td>Localisation</td><td>Âge</td><td>Maladie</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Julie</td><td>47677</td><td>29</td><td>Diabète</td>
          </tr>
          <tr>
            <td>Joël</td><td>47602</td><td>22</td><td>Diabète</td>
          </tr>
          <tr>
            <td>Stéphanie</td><td>47678</td><td>27</td><td>Diabète</td>
          </tr>
          <tr>
            <td>Amanda</td><td>47905</td><td>43</td><td>Grippe</td>
          </tr>
          <tr>
            <td>Gabriel</td><td>47909</td><td>52</td><td>Diabète</td>
          </tr>
          <tr>
            <td>Léo</td><td>47906</td><td>47</td><td>Cancer</td>
          </tr>
          <tr>
            <td>Sacha</td><td>47605</td><td>30</td><td>Diabète</td>
          </tr>
          <tr>
            <td>Aurélie</td><td>47673</td><td>36</td><td>Cancer</td>
          </tr>
          <tr>
            <td>Paco</td><td>47607</td><td>32</td><td>Cancer</td>
          </tr>
        </tbody>
      </table>

      <p>une généralisation peut aboutir à :</p>

      <table>
        <thead>
          <tr>
            <td>Nom</td><td>Localisation</td><td>Âge</td><td>Maladie</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>*</td><td>476**</td><td>2*</td><td>Diabète</td>
          </tr>
          <tr>
            <td>*</td><td>476**</td><td>2*</td><td>Diabète</td>
          </tr>
          <tr>
            <td>*</td><td>476**</td><td>2*</td><td>Diabète</td>
          </tr>
          <tr>
            <td>*</td><td>4790*</td><td>< 40</td><td>Grippe</td>
          </tr>
          <tr>
            <td>*</td><td>4790*</td><td>< 40</td><td>Diabète</td>
          </tr>
          <tr>
            <td>*</td><td>4790*</td><td>< 40</td><td>Cancer</td>
          </tr>
          <tr>
            <td>*</td><td>47***</td><td>3*</td><td>Diabète</td>
          </tr>
          <tr>
            <td>*</td><td>47***</td><td>3*</td><td>Cancer</td>
          </tr>
          <tr>
            <td>*</td><td>47***</td><td>3*</td><td>Cancer</td>
          </tr>
        </tbody>
      </table>

      <p>
      Cette généralisation est 3-anonyme car chaque combinaison
      <code>localisation + âge</code> apparait trois fois.
      </p>
      <p>
      Cependant, cette généralisation n'est pas suffisante. En effet, si l'on
      sait que Julie est dans cet ensemble de données et que l'on sait qu'elle
      se trouve dans la ville 47677 et qu'elle a une vingtaine d'années, on peut
      en déduire qu'elle est diabétique.
      </p>

      <h4>l-diversité</h4>
      <p>
      Pour améliorer la généralisation, un autre indicateur a vu le jour : la
      l-diversité.
      </p>
      <p>
      Cette mesure prend en compte le fait que pour chaque classe
      d'équivalence, les valeurs des données sensibles ne soient pas uniques,
      contrairement à précédemment où il était possible de connaitre la maladie
      de Julie car c'était la seule présente dans le sous-ensemble correspondant
      à ses caractéristiques.
      </p>
      <p>Par exemple, avec cet ensemble de données :</p>

      <table>
        <thead>
          <tr>
            <td>Nom</td><td>Localisation</td><td>Âge</td><td>Maladie</td><td>Salaire</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Julie</td><td>47677</td><td>29</td><td>Ulcère gastrique</td><td>3000</td>
          </tr>
          <tr>
            <td>Joël</td><td>47602</td><td>22</td><td>Gastrite</td><td>4000</td>
          </tr>
          <tr>
            <td>Stéphanie</td><td>47678</td><td>27</td><td>Ulcère gastrique</td><td>5000</td>
          </tr>
          <tr>
            <td>Amanda</td><td>47905</td><td>43</td><td>Gastrite</td><td>6000</td>
          </tr>
          <tr>
            <td>Gabriel</td><td>47909</td><td>52</td><td>Grippe</td><td>11000</td>
          </tr>
          <tr>
            <td>Léo</td><td>47906</td><td>47</td><td>Bronchite</td><td>8000</td>
          </tr>
          <tr>
            <td>Sacha</td><td>47605</td><td>30</td><td>Brochite</td><td>7000</td>
          </tr>
          <tr>
            <td>Aurélie</td><td>47673</td><td>36</td><td>Pneumonie</td><td>9000</td>
          </tr>
          <tr>
            <td>Paco</td><td>47607</td><td>32</td><td>Cancer de l'estomac</td><td>10000</td>
          </tr>
        </tbody>
      </table>

      <p>une généralisation peut donner :</p>

      <table>
        <thead>
          <tr>
            <td>Nom</td><td>Localisation</td><td>Âge</td><td>Maladie</td><td>Salaire</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>*</td><td>476**</td><td>2*</td><td>Ulcère gastrique</td><td>3000</td>
          </tr>
          <tr>
            <td>*</td><td>476**</td><td>2*</td><td>Gastrite</td><td>4000</td>
          </tr>
          <tr>
            <td>*</td><td>476**</td><td>2*</td><td>Cancer de l'estomac</td><td>5000</td>
          </tr>
          <tr>
            <td>*</td><td>4790*</td><td>> 40</td><td>Gastrite</td><td>6000</td>
          </tr>
          <tr>
            <td>*</td><td>4790*</td><td>> 40</td><td>Grippe</td><td>11000</td>
          </tr>
          <tr>
            <td>*</td><td>4790*</td><td>> 40</td><td>Bronchite</td><td>8000</td>
          </tr>
          <tr>
            <td>*</td><td>476**</td><td>3*</td><td>Bronchite</td><td>7000</td>
          </tr>
          <tr>
            <td>*</td><td>476**</td><td>3*</td><td>Pneumonie</td><td>9000</td>
          </tr>
          <tr>
            <td>*</td><td>476**</td><td>3*</td><td>Cancer de l'estomac</td><td>10000</td>
          </tr>
        </tbody>
      </table>

      <p>
      Cette généralisation est 3-diverse car pour chaque combinaison
      <code>localisation + âge</code>, il y a au moins trois valeurs de maladie
      (et de salaire) différentes. Cependant, sans connaître d'information
      particulière sur Julie mais uniquement en sachant que ses données sont
      dans le groupe correspondant à l'une des trois premières lignes,
      une personne peut de nouveau savoir que Julie a une maladie au niveau de
      l'estomac, et aussi avoir un ordre d'idée sur son salaire.
      </p>

      <h4>t-proximité</h4>
      <p>
      Pour de nouveau améliorer la généralisation, un autre indicateur a lui
      aussi vu le jour : la t-proximité.
      </p>
      <p>
      Cet indicateur mesure le taux de diversité des valeurs des données
      sensibles pour chaque classe d'équivalence, afin de réduire les risques
      d'inférence.
      </p>
      <p>
      Une version avec un anonymat encore plus solide que précédemment de
      l'exemple peut être :
      </p>

      <table>
        <thead>
          <tr>
            <td>Nom</td><td>Localisation</td><td>Âge</td><td>Maladie</td><td>Salaire</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>*</td><td>4767*</td><td>< 40</td><td>Ulcère gastrique</td><td>3000</td>
          </tr>
          <tr>
            <td>*</td><td>4767*</td><td>< 40</td><td>Cancer de l'estomac</td><td>5000</td>
          </tr>
          <tr>
            <td>*</td><td>4767*</td><td>< 40</td><td>Pneumonie</td><td>9000</td>
          </tr>
          <tr>
            <td>*</td><td>4790*</td><td>> 40</td><td>Gastrite</td><td>6000</td>
          </tr>
          <tr>
            <td>*</td><td>4790*</td><td>> 40</td><td>Grippe</td><td>11000</td>
          </tr>
          <tr>
            <td>*</td><td>4790*</td><td>> 40</td><td>Bronchite</td><td>8000</td>
          </tr>
          <tr>
            <td>*</td><td>4760*</td><td>< 40</td><td>Gastrite</td><td>4000</td>
          </tr>
          <tr>
            <td>*</td><td>4760*</td><td>< 40</td><td>Bronchite</td><td>7000</td>
          </tr>
          <tr>
            <td>*</td><td>4760*</td><td>< 40</td><td>Cancer de l'estomac</td><td>10000</td>
          </tr>
        </tbody>
      </table>

      <p>
      La généralisation plus large au niveau de l'âge permet d'éviter
      l'exploitation de la corrélation, par exemple, entre les personnes de vingt ans et les
      maladies de l'estomac.
      </p>
      <p>
      Même si quelqu'un sait que les données de Julie sont dans le premier
      groupe (correspondant aux premières lignes), il ne pourra pas savoir quel
      type de maladie a Julie, ni dans quelle fourchette précise se situe son
      salaire.
      </p>
      <p>
      Cet ensemble anonymisé a comme indicateurs 0.167-proximité pour les
      salaires et 0.278-proximité pour les maladies. Alors que sur l'ensemble
      anonymisé de la l-diversité, les t-proximités étaient de 0.375 pour les
      salaires et de 0.5 pour les maladies. Une meilleure agrégation a donc
      permis une meilleure anonymisation.
      Si vous aimez les grosses formules et que vous voulez savoir comment
      calculer ces valeurs, vous trouverez votre bonheur dans
      <a href="https://www.cs.purdue.edu/homes/ninghui/papers/t_closeness_icde07.pdf">
        ce papier</a> qui définit la t-proximité (c'est en anglais).
      </p>
    </section>

    <section>
    <p>
    L'anonymisation offre donc la possibilité de conserver des données plus
    longtemps que prévu initialement de part la perte de leur nature
    personnelles. C'est donc un processus qui peut facilement séduire.
    </p>
    <p>
    Cependant, mettre en place une réelle anonymisation est complexe. En effet,
    il faut choisir les bonnes techniques et les appliquer du mieux possible.
    Mais il faut aussi toujours se tenir informer des failles découvertes et des
    nouveautés sur le sujet.
    </p>
    <p>
    Et même lorsque l'anonymisation semble être solide, il est possible de
    ré-identifier les données. Comme cela a été
    <a href="https://arxiv.org/abs/cs/0610105">le cas pour Netflix</a> lorsque des
    chercheurs ont pu ré-identifier des données pourtant anonymisées en les
    croisant avec IMDb.
    </p>
    <p>
    Le meilleur moyen de réduire les risques reste peut-être de ne pas chercher
    à tout stocker tout le temps… ;)
    </p>
    </section>
  </article>

{% endblock content %}
