{% set title = 'Blog − L’enfer des paquets Python : la boîte à outils' %}
{% set description = 'La gestion des paquets Python est parfois un enfer. Pour créer,
        envoyer, installer des paquets, nous avons à disposition beaucoup
        d’outils, qui font parfois la même chose, mais pas de la même manière.' %}
{% set image = url_for('static', filename='images/00011-gift.jpg') %}

{% extends '_layout.jinja2' %}

{% block content %}

  <article>
    <header>
      <h2>L’enfer des paquets Python : la boîte à outils (5 / 7)</h2>
      <aside><time datetime="2020-08-06">6 août 2020</time>, par Guillaume</aside>
      <p>
        La gestion des paquets Python est parfois un enfer. Pour créer,
        envoyer, installer des paquets, nous avons à disposition beaucoup
        d’outils, qui font parfois la même chose, mais pas de la même manière.
      </p>
    </header>

    {% include 'articles/_python_contents.jinja2' %}

    <section>
      <h3>Des outils pour tout faire</h3>
      <p>
        Des bibliothèques, des scripts, des exécutables… Même en tant que
        simple utilisateur, il faut connaitre et tester une bonne dose d’outils
        avant d’utiliser un programme Python. Vous allez devoir créer un
        environnement virtuel pour installer des paquets. Avec le temps, vous
        aurez vos petites habitudes, qui changeront au gré des évolutions et
        des bonnes pratiques.
      </p>
      <p>
        Nous n’allons pas vraiment parler de cela. Mais un peu quand même.
      </p>
      <p>
        Si l’on se concentre sur la gestion de paquets, nous pouvons déterminer
        trois opérations spécifiques : l’installation, la création, l’envoi sur
        un dépôt de paquets. Chacune de ces opérations peut être découpée en de
        plus petites étapes, et ce serait intéressant de comprendre dans le
        détail comment tout cela fonctionne.
      </p>
      <p>
        Nous n’allons pas parler de cela en détail non plus.
      </p>
      <p>
        Ce que nous allons tenter de faire : dresser un tableau partial,
        superficiel, approximatif et non-exhaustif de ce que nous pouvons
        utiliser pour faire ces trois opérations de base. Ça n’envoie pas du
        rêve mais c’est déjà, mine de rien, une tâche complexe.
      </p>
      <p>
        Nous aurons forcément à mettre un pied dans le détail de fonctionnement
        des opérations, nous aurons forcément à mettre un pied dans les
        environnements virtuels. Mais nous tâcherons de ne pas nous perdre dans
        des détails, sinon nous en aurions pour − au bas mot − des heures. Et
        vous avez mieux à faire.
      </p>
      <p>
        Commençons donc par deux tableaux. Le premier liste les bibliothèques,
        utilisables par d’autres outils.
      </p>
      <table>
        <thead>
          <tr>
            <th>Bibliothèque</th>
            <th>Installation</th>
            <th>Création</th>
            <th>Envoi</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>distutils</th>
            <td>Oui</td>
            <td>Oui</td>
            <td style="opacity: 0.2">Non</td>
          </tr>
          <tr>
            <th>setuptools</th>
            <td>Oui, basé sur distutils</td>
            <td>Oui, basé sur distutils</td>
            <td>Oui, jusqu’à la version 42</td>
          </tr>
        </tbody>
      </table>
      <p>
        Le second tableau liste les outils, qui proposent des exécutables.
      </p>
      <table>
        <thead>
          <tr>
            <th>Outil</th>
            <th>Installation</th>
            <th>Création</th>
            <th>Envoi</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>easy_install</th>
            <td>Oui, distribué avec setuptools</td>
            <td style="opacity: 0.2">Non</td>
            <td style="opacity: 0.2">Non</td>
          </tr>
          <tr>
            <th>pip</th>
            <td>Oui, inclut une copie partielle de setuptools</td>
            <td>Oui, des wheels avec setuptools et wheel</td>
            <td style="opacity: 0.2">Non</td>
          </tr>
          <tr>
            <th>wheel</th>
            <td style="opacity: 0.2">Non</td>
            <td>Oui, des wheels</td>
            <td style="opacity: 0.2">Non</td>
          </tr>
          <tr>
            <th>twine</th>
            <td style="opacity: 0.2">Non</td>
            <td style="opacity: 0.2">Non</td>
            <td>Oui</td>
          </tr>
          <tr>
            <th>pipenv</th>
            <td>Oui, inclut une copie modifiée de pip</td>
            <td style="opacity: 0.2">Non</td>
            <td style="opacity: 0.2">Non</td>
          </tr>
          <tr>
            <th>pipx</th>
            <td>Oui, basé sur pip</td>
            <td style="opacity: 0.2">Non</td>
            <td style="opacity: 0.2">Non</td>
          </tr>
          <tr>
            <th>poetry</th>
            <td>Oui, basé sur pip</td>
            <td>Oui</td>
            <td>Oui</td>
          </tr>
          <tr>
            <th>flit</th>
            <td>Oui, basé sur pip</td>
            <td>Oui</td>
            <td>Oui</td>
          </tr>
        </tbody>
      </table>
      <p>
        Ces deux tableaux ne listent que les fonctionnalités qui nous
        intéressent, mais certains outils font bien d’autres choses. Ce n’est
        donc pas la peine de les comparer bêtement selon le nombre de cases
        qu’ils cochent, d’autant plus que d’autres paramètres doivent rentrer
        en compte dans cette comparaison, y compris des petits détails tels que
        la qualité et la maintenabilité du code.
      </p>
      <figure>
        <img src="{{ url_for('static', filename='images/00011-xkcd.png')}}" alt="Mandatory Related XKCD™" title="I just came from The Martian, and I just have to say: Forget BB-8; I want a pet Sojourner! It's always been the cutest of our Mars rovers." />
        <figcaption>
          Le <a href="https://xkcd.com/1585/">XKCD</a> obligatoire. Prendre
          quelques points de comparaison n’a jamais été suffisant. N’essayez
          jamais ça chez vous.
        </figcaption>
      </figure>
      <p>
        Et d’ailleurs, nous n’allons pas à proprement parler comparer ces
        outils ; nous allons plutôt présenter les trois fonctionnalités et décrire
        les bibliothèques et outils qui les accomplissent. Ce n’est pas la
        peine de bouder, je vous assure que ce sera plus simple ainsi.
      </p>

      <h4>Installation de paquets</h4>
      <p>
        Au début, lorsque la notion de paquets a été introduite dans Python en
        2000, c’est <code>distutils</code> qui a été chargé de créer et
        installer les paquets. Nous l’avons déjà dit dans les épisodes
        précédents, mais nous allons le répéter : il l’a fait sans gestion de
        dépendances et sans dépôt de paquets.
      </p>
      <p>
        <code>distutils</code> est une bibliothèque qui permet avant tout
        d’écrire des fichiers <code>setup.py</code>, qui ont longtemps été
        l’alpha et l’oméga des paquets Python. Grâce à <code>distutils</code>
        qu’ils importent, ces fichiers sont exécutables et offrent deux
        commandes : <code>install</code> pour installer, <code>sdist</code>
        pour créer le paquet. On peut dès lors partager des archives qui contiennent
        l’ensemble du code, et les installer après les avoir décompressées. En
        d’autres termes : ces archives sont des paquets.
      </p>
      <p>
        L’idée d’avoir un endroit où stocker et partager ces paquets arrive
        vite. PyPI est mis en ligne trois ans après l’arrivée de
        <code>distutils</code> ; il permet de partager et de retrouver, à un
        endroit public central, un grand nombre de paquets Python.
      </p>
      <p>
        La bibliothèque <code>setuptools</code> arrive en 2004 pour apporter de
        nouvelles fonctionnalités, en particulier la gestion de dépendances. Au
        niveau de l’installation de paquets, c’est la
        révolution : <code>easy_install</code> est inclus dans la bibliothèque
        et permet d’installer les paquets de PyPI directement avec leur nom.
      </p>
      <p>
        Cependant, <code>setuptools</code> et <code>easy_install</code> vont
        eux aussi commencer à montrer leurs limites. Créés sans véritable
        spécification, basés sur un format de paquets imparfait (les eggs), ils
        vont attiser les volontés de remplacement.
      </p>
      <p>
        Ce sera le cas pour <code>easy_install</code> qui sera remplacé 4 ans
        plus tard par <code>pip</code>. <code>pip</code> a pour but premier
        d’installer des paquets Python en gérant correctement leurs
        métadonnées, ce qui permet entre autres de lister et désinstaller les
        paquets installés.
      </p>
      <p>
        <code>pip</code> a beaucoup évolué et est aujourd’hui l’application de
        référence concernant l’installation de paquets. L’outil a su s’adapter
        aux différentes évolutions et est aujourd’hui capable de se débrouiller
        avec les paquets sources et les wheels. Son architecture réfléchie et
        sa large utilisation lui ont permis d’intégrer des évolutions étape par
        étape, et de rester vivant depuis plus de 10 ans.
      </p>
      <p>
        L’outil est utilisé ou inclus dans tous les outils récents
        d’installation de paquets. Si l’on prend certains outils largement
        utilisés comme <code>Pipenv</code>, <code>Poetry</code> et
        <code>pipx</code>, tous lancent <code>pip</code> pour l’installation de
        paquets.
      </p>
      <p>
        Alors, pourquoi utiliser d’autres outils que <code>pip</code> ?
        <code>Pipenv</code>, <code>Poetry</code>, <code>pipx</code> et d’autres
        permettent, chacun à leur manière, de cloisonner les installations. Par
        défaut, <code>pip</code> installe les paquets dans un dossier central,
        ce qui est assez gênant lorsque l’on veut avoir différents projets qui
        utilisent différentes versions de la même bibliothèque.
      </p>
      <p>
        <code>Pipenv</code> et <code>Poetry</code> offrent à peu près la même
        mécanique pour l’installation : ils créent un environnement virtuel
        par projet, dans lequel ils installent les dépendances. Pour cet usage,
        ils se comportent en réalité comme une simple capsule autour de
        <code>pip</code> et <code>venv</code>, avec des commandes permettant de
        gérer les cas les plus simples.
      </p>
      <p>
        <code>pipx</code> a un but différent : il propose la même interface que
        <code>pip</code> pour installer des exécutables. Il s’arrange
        automatiquement pour créer un environnement virtuel par exécutable, et
        pour rendre cet exécutable accessible à l’utilisateur. Il est donc plus
        adapté aux utilisateurs finaux qu’au développeurs, cibles privilégiées
        de <code>Pipenv</code> et <code>Poetry</code>.
      </p>
      <p>
        Une dernière chose étonnante au sujet de <code>pip</code> : il crée
        désormais des paquets, pour pouvoir mieux les installer. Pourquoi ? Il
        vous faudra lire la suite…
      </p>

      <h4>Création de paquets</h4>
      <figure>
        <img src="{{ url_for('static', filename='images/00011-gift.jpg')}}" alt="Photo de paquets" title="Tu ne devineras jamais ce qui est à l’intérieur…" />
        <figcaption>
          Rappel : ce n’est pas parce que l’emballage est joli que le contenu
          va nécessairement plaire.
        </figcaption>
      </figure>
      <p>
        Oui, vous avez bien lu : <code>pip</code> crée désormais des paquets.
        Avec la volonté sous-jacente de
        <a href="{{ url_for('blog', article='00009-l-enfer-des-paquets-python-des-fichiers-partout') }}">se séparer de <code>setuptools</code></a>
        et des autres formats de paquets, <code>pip</code> se transforme
        doucement en un simple installeur de wheels. Lorsqu’il a devant lui un
        paquet source, il tente désormais de transformer ce paquet source en
        wheel avant de l’installer, au lieu de passer par l’installeur
        de <code>setuptools</code>.
      </p>
      <p>
        Ce système comporte de nombreux avantages. Tout d’abord, cela signifie
        qu’à terme <code>pip</code> pourrait n’être qu’un installeur de wheels
        (qui est le format le plus simple à installer) couplé à un
        transformateur de paquets source en wheels. Un tel fonctionnement
        simplifierait grandement le code source de <code>pip</code>, qui
        aujourd’hui fait beaucoup d’autres choses, dont installer des paquets
        depuis les sources en utilisant <code>setuptools</code>.
      </p>
      <p>
        Il faut également souligner le fait que, pour créer des paquets, il
        n’est désormais plus nécessaire d’utiliser <code>setuptools</code>.
        D’autres outils existent pour générer un paquet source ou un paquet
        wheel. Cela signifie que, de la création à l’installation, on commence
        à entrevoir le bout du tunnel : il est possible d’utiliser des outils
        relativement simples, basés en grandes partie sur des spécifications,
        qui n’ont pas à gérer l’ancienneté que trimballe
        <code>setuptools</code> avec lui.
      </p>
      <p>
        <code>Poetry</code> et <code>Flit</code> sont sur ce point-là assez
        proches. Les deux sont capables de créer des paquets sans
        <code>setuptools</code> et donc sans fichier <code>setup.py</code>.
        Suivant les PEP
        <a href="https://www.python.org/dev/peps/pep-0517/">517</a> et
        <a href="https://www.python.org/dev/peps/pep-0518/">518</a>,
        utilisant le fichier
        <code>pyproject.toml</code> comme unique source d’information, ils
        proposent une solution alternative pour créer des paquets source et des
        wheels classiques, installables par <code>pip</code>.
      </p>
      <p>
        <code>Flit</code> ne fait à peu près que cela. Il contient également de
        quoi installer un paquet avec <code>pip</code> et par liens
        symboliques, ce qui est utile pour le développement.
        <code>Poetry</code> est beaucoup plus complet : il propose comme
        <code>Pipenv</code> la création d’environnements virtuels utiles pour
        le développement.
      </p>
      <p>
        Bien sûr, le passage d’un fichier <code>setup.py</code> en Python à un
        fichier <code>pyproject.toml</code> limite les possibilités. Malgré les
        efforts de ces outils pour proposer une grande flexibilité, il n’est
        pas possible de faire tout ce que l’on pouvait faire avec
        <code>setuptools</code>, laissant à l’honorable bibliothèque le soin de
        gérer les cas complexes dont la plupart ne sont que le résultats
        d’esprits malades relevant plus de la psychiatrie que de
        l’informatique.
      </p>

      <h4>Envoi de paquets</h4>
      <p>
        De la même manière, <code>Poetry</code> et <code>Flit</code> proposent
        tous deux l’envoi de paquets sur PyPI ou sur des serveurs compatibles.
        Cette fonctionnalité ne nécessite guère que de suivre les APIs HTTP
        proposées par PyPI, et peut sembler assez simple au premier abord.
      </p>
      <p>
        Cela n’a cependant pas toujours été le cas. <code>setuptools</code> a
        longtemps proposé une commande pour envoyer les paquets, non sans
        problèmes. Afin d’assurer une compatibilité avec toutes les versions de
        Python, il a fallu jongler avec les versions de protocoles TLS
        supportées, les failles de sécurité, les mots de passe… Et bien sûr, ce
        qui devait rester assez simple s’est vite transformé en triste
        cauchemar de soupe de code indigeste.
      </p>
      <p>
        Pour régler ce problème, le projet <code>Twine</code> a été
        développé. <code>Twine</code> a comme unique but d’envoyer les paquets
        sur PyPI, et de le faire bien. Il propose en bonus la possibilité de
        stocker le mot de passe dans le gestionnaire de mots de passe du
        système, plutôt qu’en clair dans un fichier texte comme le
        proposait <code>setuptools</code>. Autre détail : <code>Twine</code>
        envoie tels quels les fichiers générés par l’outil de créations de
        paquets. Cela peut paraître comme la moindre des choses, mais il faut
        savoir que <code>setuptools</code> recrée le paquet avant de l’envoyer,
        compliquant grandement les tests.
      </p>
    </section>

    <section>
      <h3>On résume (enfin, on essaie)</h3>
      <p>
        Il y eut une longue période de dépendance à <code>setuptools</code>,
        ses incompréhensibles fichiers de configuration, son implémentation qui
        fait foi, son architecture vieillissante et ses commandes discutables. Mais
        cette époque est bientôt révolue, et d’autres solutions existent d’ores
        et déjà pour créer et envoyer ses paquets.
      </p>
      <p>
        Nous sommes dans une période d’incertitudes. Il est difficile, voire
        impossible, de savoir quels outils seront utilisés demain. Il est
        difficile de construire des paquets avec une architecture qui résistera
        à l’épreuve du temps. Mais une chose est sûre : nous avons plus de
        libertés et de possibilités que jamais.
      </p>
      <p>
        Après tout, avoir de nombreux outils pour créer les paquets n’est pas
        un mal en soi, tant qu’ils créent tous des paquets interopérables,
        installables par les mêmes outils. On n’a pas les mêmes besoins
        lorsqu’on crée un tout petit paquet en Python pur dans son coin, ou un
        paquet contenant du C destiné à toutes les plateformes.
      </p>
      <p>
        À ce sujet <code>Flit</code> propose
        <a href="https://flit.readthedocs.io/en/latest/rationale.html">une vision intéressante</a> :
      </p>
      <blockquote>
        « Rendre faciles les choses faciles, et possibles les choses
        difficiles », telle est une vieille devise de la communauté Perl. Flit
        se concentre uniquement sur la partie « choses faciles », et laisse les
        choses difficiles aux autres outils.
      </blockquote>
      <p>
        (On en arrive à s’inspirer de la communauté Perl, tout est possible…)
      </p>
      <p>
        Tout dépend de ce que l’on veut faire. Et ça tombe bien : c’est ce que
        nous verrons dans
        <a href="{{ url_for('blog', article='00013-l-enfer-des-paquets-python-l-expression-des-besoins') }}">le prochain article</a> !
      </p>
    </section>
  </article>

{% endblock content %}
