{% set title = 'Blog − Le privacy by design qu’est ce que c’est ?' %}
{% set description = 'Mis en avant par le RGPD, le concept du Privacy by Design connait une
      hausse d’intérêt. Mais saviez-vous que ce concept n’est pas tout jeune ?' %}
{% set image = url_for('static', filename='images/00014-image.jpg') %}

{% extends '_layout.jinja2' %}

{% block content %}

  <article>
    <header>
      <h2>Le privacy by design, qu’est ce que c’est ?</h2>
      <aside><time datetime="2020-09-17">17 septembre 2020</time>, par Lucie</aside>
      <p>
      Mis en avant par le RGPD, le concept du Privacy by Design connait une
      hausse d’intérêt. Mais saviez-vous que ce concept n’est pas tout jeune ?
      </p>
    </header>

    <section>
      <h3>Un peu d’histoire</h3>
      <p>
      En effet, les premières traces du Privacy by Design remontent à l’an 1995
      où il fût décrit par Ann Cavoukian ; et formalisé la même année dans un
      rapport écrit par la Commissaire à l’information et à la vie privée de
      l’Ontario, la CNIL néerlandaise et l’organisation néerlandaise pour la
      recherche scientifique appliquée.
      </p>

      <p>
      Ce concept a pour but de préserver la liberté de choix des utilisateurs et
      leur contrôle sur les données les concernant en mettant au cœur du
      développement de services les problématiques liées à la vie privée.
      </p>
    </section>

    <section>
      <h3>Les sept principes du Privacy by Design</h3>
      <p>
      Le Privacy by Design se définit autour de
      <a href="https://iapp.org/media/pdf/resource_center/pbd_implement_7found_principles.pdf">
        sept principes</a>.
      </p>

      <dl>
        <dt>Proactif plutôt que réactif, préventif plutôt que correctif :</dt>
        <dd>
        Les incidents liés à la vie privée doivent être anticipés au lieu
        d’attendre qu’ils arrivent pour réagir. Ainsi, il y a moins de risques
        qu’un incident ait lieu.
        </dd>

        <dt>Privacy by default :</dt>
        <dd>
        La confidentialité est le paramètre par défaut. L’utilisateur ne doit
        pas avoir besoin d’aller modifier des paramètres pour que sa vie privée
        soit respectée. Cette notion rejoint celle de minimisation de la
        collecte de données également abordée par le RGPD.
        </dd>

        <dt>La confidentialité dès la conception :</dt>
        <dd>
        La confidentialité est prise en compte dès la conception d’un service.
        Ce ne doit pas être quelque chose qui est ajouté par la suite, mais au
        contraire un élément essentiel.
        </dd>

        <dt>Ne pas nuire aux fonctionnalités :</dt>
        <dd>
        Le respect de la vie privée ne doit pas être un frein aux diverses
        fonctionnalités. L’équilibre entre les intérêts du fournisseur de
        service et ses utilisateurs est également recherché.
        </dd>

        <dt>La sécurité de bout en bout :</dt>
        <dd>
        Des mesures de sécurité sont prises afin de garantir du mieux possible
        la sécurité des données de leur collecte à leur destruction.
        </dd>

        <dt>Visibilité et transparence :</dt>
        <dd>
        Toutes les parties prenantes autour d’un service ont une visibilité sur
        ce qui est fait, que ce soit pour les fournisseurs ou les utilisateurs.
        Cette transparence permet d’avoir une meilleure confiance entre les
        différents acteurs.
        </dd>

        <dt>Le respect de la vie privée des utilisateurs :</dt>
        <dd>
        Surtout, les intérêts des utilisateurs doivent être au centre des
        préoccupations, que ce soit en mettant en place des mesures de sécurité
        fortes, en mettant à disposition une information claire, etc.
        </dd>
      </dl>
    </section>

    <section>
      <h3>Appliquer les principes du Privacy by Design</h3>
      <p>
      Malgré son <a href="https://fr.wikipedia.org/wiki/Protection_de_la_vie_priv%C3%A9e_d%C3%A8s_la_conception#Adoption_mondiale_du_concept">
        adoption dans de nombreux pays</a>, le Privacy by Design rencontre
      des critiques, essentiellement car ses principes sont jugés trop flous et
      complexes à mettre en place dans certains systèmes.
      <a href="https://www.esat.kuleuven.be/cosic/publications/article-1542.pdf">
        Beaucoup de paramètres</a> sont à prendre en compte et difficiles à implémenter.
      </p>

      <p>
      Mais des recommandations existent pour aider à l’application du Privacy by
      Design, comme <a href="https://www.enisa.europa.eu/publications/privacy-and-data-protection-by-design/">
        celles de l’ENISA</a>. Parmi celles-ci on retrouve :
      </p>

      <dl>
        <dt>Minimiser :</dt>
        <dd>
          Uniquement les données strictement nécessaires sont
          collectées. Il ne peut rien arriver aux données que l’on ne possède
          pas.
        </dd>
        <dt>Dissimuler :</dt>
        <dd>
          Les liens entre les données sont dissimulés, ainsi que
          les données elles-mêmes. On peut chiffrer les données, utiliser
          différents réseaux lors des transferts, anonymiser, pseudonymiser…
        </dd>
        <dt>Séparer :</dt>
        <dd>
          Les données sont stockées à différents endroits de façon à
          ce que toutes les données sur un même individu ne se retrouvent pas
          toutes ensemble.
        </dd>
        <dt>Aggréger :</dt>
        <dd>
          Suivant les besoins, les données peuvent être aggrégées. De cette
          façon, les risques d’identification des personnes sont par exemple
          réduits.
        </dd>
        <dt>Informer :</dt>
        <dd>
          Pour répondre au principe de transparence, les différents
          acteurs sont informés des traitements, des technologies utilisées, des
          fuites de données si cela se produit…
        </dd>
        <dt>Contrôler :</dt>
        <dd>
          Les utilisateurs doivent être capable d’exercer leurs
          droits sur les données les concernant, et de le faire d’une manière
          sécurisée mais aussi intuitive.
        </dd>
        <dt>Renforcer :</dt>
        <dd>
          Une politique de sécurité doit être en place et revue régulièrement.
        </dd>
        <dt>Démontrer :</dt>
        <dd>
          Être capable de montrer que n’importe quoi n’est pas fait
          avec les données, qu’il y a une politique de sécurité et qu’elle est
          respectée.
        </dd>
      </dl>
    </section>

    <section>
      <p>
      Le Privacy by Design est une composante importante dans le respect de la
      vie privée des individus. Il apporte donc des éléments de réflexion plus
      que de réponse sur comment mettre l’utilisateur et ses droits au centre
      de la conception d’un service.
      </p>
    </section>
  </article>

{% endblock content %}
