{% set title = 'Blog − Des documents adaptés à vos envies et vos formats' %}
{% set description = 'Vous vous demandez comment faire un devis sans copier-coller celui de la semaine dernière, et croiser les doigts pour ne pas oublier les informations du client précédent ?' %}
{% set image = url_for('static', filename='images/00026-image.jpg') %}

{% extends '_layout.jinja2' %}

{% block content %}

  <article>
    <header>
      <h2>Des documents adaptés à vos envies et vos formats</h2>
      <aside><time datetime="2021-03-11">11 mars 2021</time>, par Stella et <a href="https://madcats.fr/">Madcats</a></aside>
      <p>
        Vous vous demandez comment faire un devis sans copier-coller celui de
        la semaine dernière, et croiser les doigts pour ne pas oublier les
        informations du client précédent ?
      </p>
    </header>

    {% include 'articles/_documents_contents.jinja2' %}

    <section>
      <h3>Créer des documents, automatiquement, à votre image</h3>

      <p>
        Si vous travaillez derrière un écran, vous avez sans doute déjà connu
        cette situation :
        <strong>
          quel outil utiliser pour créer une facture, une
          affiche, une étiquette, une lettre, ou une brochure ?
        </strong>
        Vous aimez la liberté de pouvoir mettre ce que vous voulez dans votre
        document, mais vous avez besoin de suivre une charte graphique et une
        mise en page bien précises. Et vous avez parfois besoin de créer des
        dizaines de documents identiques, pour lesquels seul le contenu varie.
      </p>

      <p>
        Bien sûr, vous pouvez toujours utiliser des traitements de texte ou des
        tableurs. Le modèle est souvent un peu moche, avouons-le. Et vous
        finissez toujours par prendre votre dernier devis et par le modifier
        pour en créer un nouveau, en changeant au passage la taille de ce logo
        qui est trop gros, et la taille d’un paragraphe sans faire exprès…
      </p>

      <p>
        Pour les cas graphiquement complexes, et si vous avez la chance d’avoir
        à vos côtés des personnes aguerries pour faire du design pour « le
        print », vous vous retrouvez à déléguer la création visuelle du
        document. Mais à ce moment-là, vous vous retrouvez sur un long chemin
        qui prendra beaucoup, beaucoup de temps à aboutir, après de maintes
        discussions importantes mais interminables à propose de détails de mise
        en page et de respect de charte graphique.
      </p>

      <p>
        D’un autre côté, dès que vous dépassez la dizaine de documents à créer
        automatiquement sur le même modèle, vous devrez discuter avec une
        équipe de développement qui vous expliquera laborieusement comment
        mettre en place du publipostage sur LibreOffice, avec des résultats
        franchement aléatoires selon le contenu.
      </p>

      <p>
        Malgré une apparente simplicité, ces problématiques sont complexes. Il
        n’existe pas d’outil magique permettant de créer de nombreux documents
        avec une mise en page parfaite (nous sommes désolés pour cette mauvaise
        nouvelle 😒). Mais, ne partez pas tout de suite !
      </p>

      <p>
        Nous pourrions tout de même avoir quelques bonnes idées pour vous
        rendre la vie plus simple.
        <strong>
          Nous pouvons vous donner les clés pour créer de superbes documents
          rapidement, avec une mise en page soignée, adaptée automatiquement à
          votre contenu.
        </strong>
        Ça vous intéresse ?
      </p>
    </section>

    <section>
      <h3>Plein d’exemples jolis <em>et</em> pratiques</h3>

      <p>
        Nous commençons aujourd’hui une série d’articles présentant ce qu’il
        est possible de réaliser avec
        <a href="https://weasyprint.org/">WeasyPrint</a>, un générateur
        open-source de documents.
      </p>

      <p>
        L’idée est de créer des documents aussi simplement que l’on crée des
        pages sur le web. Pas de panique : il ne sera pas question de code ou
        de technique avancée ! L’idée est de prendre de multiples exemples que
        vous avez peut-être déjà rencontrés, d’expliquer quelles difficultés
        ils soulèvent, et de proposer des visuels très élégants pour y
        répondre.
      </p>

      <p>
        En parlant d’élégance : nous réalisons cette série d’articles main dans
        la patte avec les matous engagés de <a href="https://madcats.fr/">Madcats</a> 🐈, qui apporteront
        tout leur savoir-faire dans la création d’images et d’outils
        numériques.
      </p>

      <p>
        Avec cette suite d’articles, nous souhaitons vous apporter un espoir :
        <strong>il est possible de créer des documents, automatiquement, à votre image</strong>.
        La solution n’est pas simple et elle doit être adaptée à vos
        problématiques. Mais en lisant notre série, vous pourriez bien
        trouverez l’inspiration nécessaire pour atteindre votre but.
      </p>
    </section>
  </article>

{% endblock content %}
