{% set title = 'Blog − Les Do et Don’t des bandeaux à cookies' %}
{% set description = 'L’usage de certains cookies requiert de recueillir le consentement des
      utilisateurs. Comment avoir un bandeau à cookies rgpd-friendly ?' %}
{% set image = url_for('static', filename='images/00022-image.jpg') %}

{% extends '_layout.jinja2' %}

{% block content %}

  <article>
    <header>
      <h2>Les Do et Don’t des bandeaux à cookies</h2>
      <aside><time datetime="2020-11-26">26 novembre 2020</time>, par Lucie</aside>
      <p>
      L’usage de certains cookies requiert de recueillir le consentement des
      utilisateurs. Comment avoir un bandeau à cookies rgpd-friendly ?
      </p>
    </header>

    <section>
      <h3>Quand faut-il recueillir le consentement ?</h3>
      <p>
      Les cookies sont des petits fichiers qui sont déposés sur l’ordinateur (ou
      tablette, téléphone…) lorsqu’un utilisateur navigue sur un site. Les
      cookies permettent de stocker des informations en vue d’une réutilisation
      future.
      </p>
      <p>
      Les cookies peuvent autant servir à se souvenir des préférences de
      l’utilisateur, par exemple pour la personnalisation de l’interface du
      service, qu’à analyser et tracer la navigation de l’utilisateur.
      </p>
      <p>
      Les premiers ne nécessitent pas de recueillir le consentement des
      utilisateurs, même s’il est toujours bon d’informer de leur utilisation,
      mais les deuxièmes oui.
      </p>
      <p>
      En effet, dès lors qu’un cookie est utilisé pour afficher de la publicité
      personnalisée, suivre l’utilisateur sur d’autres services, générer des
      statistiques non-anonymes etc, il est obligatoire d’avoir le consentement
      de l’utilisateur pour déposer et utiliser ces cookies.
      </p>
    </section>

    <section>
      <h3>Comment recueillir le consentement ?</h3>
      <p>
      Pour recueillir un consentement valide, cinq choses sont à faire :
      </p>
      <ol>
        <li>informer l’utilisateur. À quoi sert ce cookie ? Qui est responsable
        du traitement de données ?</li>
        <li>permettre à l’utilisateur de donner son consentement par un acte
          clair</li>
        <li>laisser l’utilisateur choisir par finalité. Si un cookie sert pour
          deux traitements différents, l’utilisateur doit pouvoir exprimer son
          accord pour un seul des traitements, les deux ou aucun</li>
        <li>faire en sorte que les différents choix puissent s’exercer avec la
          même simplicité</li>
        <li>permetter à l’utilisateur de revenir sur son choix.</li>
      </ol>
    </section>

    <section>
      <h3>Pourquoi ces bandeaux ne sont pas bons ?</h3>
      <p>
      Certains bandeaux à cookies se retrouvent souvent sur différents sites,
      mais ils présentent certaines erreurs sur le recueil du consentement. Mais
      qu’est ce qui ne va pas ?
      </p>

      <h4>On utilise des cookies, ok ?</h4>
      <figure>
        <img src="{{ url_for('static', filename='images/00022-cookies-ok.png')}}"/>
        <figcaption>
        On utilise des cookies, ok ?
        </figcaption>
      </figure>
      <p>
      Ce type de bandeau où l’utilisateur est juste informé de l’utilisation de
      cookies n’est possible que si uniquement des cookies exempts de
      consentement sont utilisés. Ce qui est très rarement le cas.
      </p>

      <h4>All in One</h4>
      <figure>
        <img src="{{ url_for('static', filename='images/00022-all-in-one.png')}}"/>
        <figcaption>
        All in one 🏌️
        </figcaption>
      </figure>
      <p>
      Ce bandeau a le mérite de proposer le refus et l’acceptation au même
      niveau et sans discrimination pour le refus. Mais il ne permet pas de
      choisir pour chaque finalité différente.
      </p>

      <h4>L’enfer des clics</h4>
      <figure>
        <img src="{{ url_for('static', filename='images/00022-enfer-des-clics.png')}}"/>
        <figcaption>
        L’enfer des clics
        </figcaption>
      </figure>
      <p>
      Vous pouvez cliquer sur « Accepter & Fermer ». Après vous pouvez toujours
      tout refuser pour tous les partenaires. Ça ne vous demandera que 17 clics.
      Simple, non ?
      </p>

      <h4>Presque</h4>
      <figure>
        <img src="{{ url_for('static', filename='images/00022-prechecked.png')}}"/>
        <figcaption>
        Presque.
        </figcaption>
      </figure>
      <p>
      L’information est relativement claire, on peut avoir le détail de
      l’utilité de chaque cookie facilement. Mais… tout est précoché.
      </p>

      <h3>Quels outils pour gérer les bandeaux ?</h3>
      <p>
      Recueillir un consentement valide demande donc un minimum de rigueur.
      </p>
      <p>
      Vous pouvez créer vous-même votre propre bandeau à cookies en suivant les
      <a href="https://www.cnil.fr/fr/cookies-et-traceurs-comment-mettre-mon-site-web-en-conformite">
        recommandations de la CNIL</a>.
      </p>
      <p>
      Mais il y a aussi des outils pour vous aider, comme par exemple
      <a href="https://tarteaucitron.io/fr/">Tarte au Citron</a>
      ou <a href="https://www.cookiebot.com/en/">Cookiebot</a>.
      </p>
    </section>
  </article>

{% endblock content %}
