{% set title = 'Blog − L’arbre généalogique du RGPD' %}
{% set description = 'Le RGPD n’est pas la première loi destinée à encadrer l’utilisation des
       données personnelles. Dans cet article, nous allons voir les principales
       lois qui y ont participé et continuent à y participer.' %}
{% set image = url_for('static', filename='images/00020-image.jpg') %}

{% extends '_layout.jinja2' %}

{% block content %}

  <article>
    <header>
      <h2>L’arbre généalogique du RGPD</h2>
      <aside><time datetime="2020-11-05">5 novembre 2020</time>, par Lucie</aside>
      <p>
       Le RGPD n’est pas la première loi destinée à encadrer l’utilisation des
       données personnelles. Dans cet article, nous allons voir les principales
       lois qui y ont participé et continuent à y participer.
      </p>
    </header>

    <section>
      <h3>Les années 70</h3>
      <p>
      Au début des années 70, l’idée d’avoir un comité de surveillance et un
      tribunal de l’informatique commence à germer. Et c’est vers la fin de
      cette décénnie, en 1978, que la loi informatique et libertés est signée.
      </p>

      <p>
      Cette loi permet alors de règlementer les traitements d’informations
      nominatives, terme qui sera modifié quelques années plus tard.
      </p>

      <p>
      La loi informatique et libertés place alors la législation sur
      l’informatique dans le cadre des droits de l’homme dans son premier
      article.
      </p>

      <blockquote>
        L’informatique doit être au service de chaque citoyen. Son
        développement doit s’opérer dans le cadre de la coopération
        internationale. Elle ne doit porter atteinte ni à l’identité humaine,
        ni aux droits de l’homme, ni à la vie privée, ni aux libertés
        individuelles ou publiques.
      </blockquote>

      <p>
      La Commission Nationale de l’Informatique et des Libertés (CNIL) est
      créée. Sa mission est définie : elle est chargée de veiller au respect
      de cette loi.
      </p>

      <p>
      L’exercice du droit d’accès est également défini. Toute personne peut
      demander à accéder aux informations nominatives qu’un organisme dispose
      sur elle. Elle peut également demander leur modification ou leur
      suppression.
      </p>

      <p>
      Un autre droit important est aussi spécifié : le droit d’opposition. Une
      personne peut s’opposer à ce que ses informations soient traitées.
      </p>

      <p>
      La loi limite aussi les traitements informatisés sur certains types de
      données particuliers. En effet, si les données
      indiquent les origines raciales, les opinions politiques, philosophiques
      ou religieuses, ou encore les appartenances syndicales, leur traitement
      est soumis au consentement des personnes concernées.
      </p>

      <p>
      La loi informatique et libertés définit donc dès les années 70 des
      concepts toujours d’actualité. Elle sera mise à jour au fil du temps.
      </p>
    </section>

    <section>
      <h3>Les années 2000</h3>
      <p>
      En 1995, l’Union Européenne publie une directive concernant la protection
      des personnes physiques par rapport aux traitements de données à caractère
      personnel et la circulation de ces données. Elle essaye alors
      d’harmoniser les règles sur les traitements de données personnelles entre
      les différents pays de l’UE.
      </p>

      <p>
      Cette directive indique qu’un traitement doit respecter trois
      principes : la proportionalité, la transparence et la finalité légitime.
      La directive reprend aussi les droits d’accès, de modification et de
      suppression définit dans la loi informatique et libertés ; ainsi que le
      droit d’opposition.
      </p>

      <p>
      Cette directive de 1995 crée le G29, qui sera remplacé plus tard, qui a
      pour but, entre autres, de conseiller la Commission Européenne sur les
      sujets liés à la protection des données personnelles.
      </p>

      <p>
      Cette directive ne sera appliquée en France qu’en 2004. En effet, une
      directive doit être transposée dans le droit de chaque pays.
      </p>

      <p>
      Cette transposition entraine des modifications dans la loi
      informatique et libertés, notamment en définissant de façon plus précise
      le concept de données personnelles qui remplace alors celui d’information
      nominative.
      </p>

      <p>
      La loi informatique et libertés est modifiée plusieurs fois pendant les
      années 2000 par différents décrets.
      </p>

      <p>
      Parmi ces modifications, on peut noter une harmonisation des règles entre
      le secteur public et privé. En effet, le public n’a plus besoin de
      demander d’autorisation à la CNIL lors de la constitution de fichiers
      contenant des données personnelles, mais doit les déclarer auprès de la
      CNIL.
      </p>

      <p>
      Les modifications des années 2000 créent également le Correspondant
      Informatique et Libertés qui est alors en charge d’appliquer la loi dans
      son organisme.
      </p>
    </section>

    <section>
      <h3>Harmoniser encore et toujours</h3>
      <p>
      En 2016, le fameux Règlement Général sur la Protection des Données est
      voté par le Parlement Européen, entre en vigueur en 2018 et abroge la
      directive de 1995.
      </p>

      <p>
      Contrairement aux directives, un règlement n’a pas besoin d’être
      transposé dans la législation de chaque pays mais est directement
      applicable.
      </p>

      <p>
      Le G29 est remplacé par le Comité Européen de la Protection des Données
      qui a pour mission de garantir l’application du règlement de manière
      cohérente.
      </p>

      <p>
      L’entrée en vigueur du RGPD entraine de nouvelles modifications dans la
      loi informatique et libertés pour la rendre plus cohérente avec la
      législation européenne.
      </p>

      <p>
      Depuis sa création en 1978, la loi informatique et libertés a donc connu
      de nombreuses modifications afin de s’adapter aux évolutions techniques et
      législatives. Mais il est intéressant de noter que les principes de base
      sont encore et toujours d’actualité.
      </p>
    </section>
  </article>

{% endblock content %}
