{% set title = 'Blog − Des lettres et des lettres' %}
{% set description = 'La création de lettres, cet outil de communication très prisé des entreprises et des administrations, ne relève pas d’une grande complexité. Mais si l’on regarde de plus près…' %}
{% set image = url_for('static', filename='images/00029-cover.png') %}

{% extends '_layout.jinja2' %}

{% block content %}

  <article>
    <header>
      <h2>Des lettres et des lettres</h2>
      <aside><time datetime="2021-04-22">22 avril 2021</time>, par Stella et <a href="https://madcats.fr/">Madcats</a></aside>
      <p>
      La création de lettres, cet outil de communication très prisé des
      entreprises et des administrations, ne relève pas d’une grande complexité.
      Mais si l’on regarde de plus près…
      </p>
    </header>

    {% include 'articles/_documents_contents.jinja2' %}

    <section>
      <h3>Une pluie de lettres</h3>

      <p>
      Écrire une lettre, c’est facile. On met l’adresse de l’expéditeur,
      l’adresse du destinataire, le contenu, une signature et voilà.
      </p>
      <p>
      Écrire une lettre, c’est facile quand il n’y en a qu’une seule à envoyer.
      Dès lors que l’on a besoin d’en envoyer plusieurs exemplaires, ça se complique.
      </p>

      <figure>
        <img src="{{ url_for('static', filename='images/00029-harry-potter.gif')}}" alt="Une pluie de lettres" title="Une pluie de lettres" />
        <figcaption>
          Ça fait beaucoup là, non ?
        </figcaption>
      </figure>

      <p>
      Lorsque l’on envoie plusieurs lettres, l’adresse de l’expéditeur est
      probablement la même, le contenu et la signature aussi. Par contre,
      l’adresse du destinataire change.
      </p>
      <p>
      Une solution qui parait séduisante au premier abord est de créer un
      modèle de notre lettre et de changer l’adresse manuellement (ou d’utiliser
      l’option de publipostage de votre logiciel de traitement de texte favori.
      Spoiler, c’est assez limité et très prise de tête).
      </p>
      <p>
      Cette solution fonctionne, il est vrai. Mais qui aime passer ses journées
      à copier-coller des adresses et à essayer d’ajuster tant bien que mal la
      mise en page générale ? Pas grand monde.
      </p>

      <p>
      Et si l’on rajoute à ça le fait de mettre le logo de notre entreprise ou
      de notre administration, une entête qui reflète notre identité et un
      pied-de-page avec des mentions… C’est fini, c’est l’enfer.
      </p>

      <p>
      Comment éviter ces heures d’arrachage de cheveux et préparer vos lettres
      en toute sérénité ?
      </p>
    </section>

    <section>
      <h3>Tâche répétitive = automatisation</h3>

      <p>
      <strong>Le meilleur moyen de mettre fin à une tâche répétitive est
      l’automatisation.</strong>
      </p>
      <p>
      Alors oui, vous allez nous dire que le modèle de lettre sur le logiciel
      de traitement de texte était déjà une automatisation et que ça n’a rien
      changé. Que c’est toujours aussi pénible. Et vous avez raison.
      </p>
      <p>
      Utiliser un modèle est une première étape vers l’automatisation.
      Maintenant est venu le moment d’aller plus loin et d’automatiser ces
      copier-collers d’adresses et ces ajustements de position.
      </p>
      <p>
      C’est le moment d’utiliser les technologies du web !
      </p>

      <figure>
        <img src="{{ url_for('static', filename='images/00029-unicorn.gif')}}" alt="Internet" title="Internet" />
        <figcaption>
          Parce que les licornes, c’est le web.
        </figcaption>
      </figure>

      <p>
      En utilisant HTML/CSS pour créer vos lettres, la mise en page des lettres
      va pouvoir s’adapter à leur contenu toute seule.
      </p>
      <p>
      En plus de vous éviter une calvitie prématurée, utiliser CSS pour faire
      la mise en page vous permettra d’être beaucoup plus libre (mais aussi
      rigoureux) graphiquement.
      </p>

      <figure>
        <img style="width:30%" src="{{ url_for('static', filename='images/00029-rab1.png')}}" alt="Une lettre" title="Une lettre" />

        <img style="width:30%" src="{{ url_for('static', filename='images/00029-rab2.png')}}" alt="Une lettre" title="Une lettre" />

        <img style="width:30%" src="{{ url_for('static', filename='images/00029-amap.png')}}" alt="Une bon de commande avec une lettre" title="Une bon de commande avec une lettre" />
        <figcaption>
          Différentes lettres.
        </figcaption>
      </figure>

      <p>
      Fini les lettres avec un visuel bancal et approximatif, il est l’heure
      d’impressionner vos correspondants et de mettre en avant votre identité
      graphique. Car oui, c’est important.
      </p>
    </section>
  </article>

{% endblock content %}
