{% set title = 'Blog − Créer un magazine à partir d’un blog' %}
{% set description = 'Stella le mag !' %}
{% set image = url_for('static', filename='images/00025-image.jpg') %}

{% extends '_layout.jinja2' %}

{% block content %}

  <article>
    <header>
      <h2>Créer un magazine à partir d’un blog</h2>
      <aside><time datetime="2020-12-18">18 décembre 2020</time>, par Lucie</aside>
      <p>Stella le mag !</p>
    </header>

    <section>
      <h3>Pourquoi et comment ?</h3>

      <p>
      En cette fin d’année, nous avons regardé ce qui s’était passé sur ce site.
      </p>
      <p>
      Tout à d’abord, on l’a créé. C’est déjà une bonne étape. Nous avons décidé
      de faire un site entièrement en statique afin qu’il soit assez léger et
      plutôt rapide. Si vous souhaitez voir quels outils nous avons utilisé
      pour ça, on en a parlé <a href="{{ url_for('blog', article='00012-un-site-leger-en-2020') }}">
        ici</a>.
      </p>
      <p>
      Et ensuite ? Nous avons écrit quelques articles sur nos domaines
      d’activité (le développement logiciel, le rgpd, l’intégration continue et
      le logiciel libre). Au total, cela représente 24 articles !
      </p>
      <p>
      Puis on s’est dit « ça serait drôle d’avoir nos articles en format
      magazine ». En y réfléchissant quelques instants, c’est tout à fait
      faisable en fait.
      </p>
      <p>
      Les articles du blog sont juste du HTML et on connaît un moteur de rendu
      qui prend du HTML et du CSS pour le transformer en magnifique PDF. C’est
      parfait, c’est exactement ce qu’il nous faut !
      </p>
      <p>
      Note : c’est nous qui développons ce moteur. Il s’appelle WeasyPrint, et
      si vous voulez en savoir plus, n’hésitez pas à regarder
      <a href="https://weasyprint.org/samples/">les exemples disponibles</a> ou à nous
      contacter directement 😉.
      </p>
    </section>

    <section>
      <h3>Le résultat</h3>

      <p>
      Notre magazine est donc <a href="{{ url_for('static', filename='magazines/stella-magazine-001.pdf') }}">disponible au format PDF</a>.
      </p>
      <p>
      C’est l’occasion de lire ou relire nos articles avec une autre mise en
      page. On espère qu’il vous plaira ! Bonne lecture 😄
      </p>
    </section>

    <section>
      <p>
      Pour les curieux, les fichiers sources sont disponibles sur
      <a href="https://gitlab.com/stellalyon/lemag">GitLab</a>.
      </p>
    </section>
  </article>

{% endblock content %}
