{% set title = 'Blog − Au bout d’un projet libre : le code' %}
{% set description = 'Du code, du code, DU COOOOOOOOOOOOOOOODE.' %}
{% set image = url_for('static', filename='images/00021-butterfly.jpg') %}

{% extends '_layout.jinja2' %}

{% block content %}

  <article>
    <header>
      <h2>Au bout d’un projet libre : le code (3 / 4)</h2>
      <aside><time datetime="2020-11-20">20 novembre 2020</time>, par Guillaume</aside>
      <p>
        Du code, du code, DU COOOOOOOOOOOOOOOODE.
      </p>
    </header>

    {% include 'articles/_libre_contents.jinja2' %}

    <section>
      <h3>Avant-propos</h3>

      <h4>L’idée</h4>
      <p>
        Si vous avez bien suivi
        <a href="{{ url_for('blog', article='00019-au-bout-d-un-projet-libre-le-plan') }}">notre article précédent</a>,
        vous devez avoir quelques idées en tête pour créer des
        applications. Choisissez-en une, définissez bien où vous voulez aller à
        long terme, et bichonnez le plan de vos premières briques.
      </p>
      <p>
        Chacun ses passions. J’en ai plein, vraiment plein, mais pour
        aujourd’hui j’ai choisi d’en retenir deux : les flux RSS et les clients
        lourds. Ne jugez pas mes passions, je ne jugerai pas les vôtres, OK ?
      </p>
      <p>
        Alors sans surprise, nous allons ici nous lancer dans la réalisation
        d’un lecteur de flux RSS. Étonnant, non ?
      </p>

      <h4>L’objectif</h4>
      <p>
        Nous ne ferons pas le lecteur RSS le plus puissant de tous les temps,
        en tout cas pas tout de suite. Nous allons plutôt nous atteler à faire
        un petit lecteur mignon, craquant, choupi, mais surtout… fonctionnel.
      </p>
      <p>
        En effet, l’objectif principal de cette première mouture est d’avoir un
        programme à utiliser dans la vraie vie. Dans notre cas, notre lecteur
        affichera les articles par flux, et ouvrira les pages lorsque l’on
        cliquera dessus. Il ira chercher ses flux dans un fichier de
        configuration. Simple mais efficace.
      </p>
      <p>
        D’un point de vue de l’interface, nous aurons un panneau à gauche avec
        la liste des flux, et à droite la liste des liens du flux sélectionné.
      </p>

      <h4>Les outils</h4>
      <figure>
        <img src="{{ url_for('static', filename='images/00021-xkcd.png')}}" alt="Mandatory Related XKCD™" title="I make tools for managing job-hunting sites for people who make tools for managing job-hunting sites for people who make tools for ..." />
        <figcaption>
          Le <a href="https://xkcd.com/1629/">XKCD</a> obligatoire. Avant
          d’arriver à une orgie ingérable d’outils enchevêtrés, on va plutôt
          choisir quelques petits modules innocents.
        </figcaption>
      </figure>
      <p>
        Pour faire un petit lecteur de flux en Python, nous allons chercher des
        outils adaptés. C’est important, pour se simplifier la vie, de prendre
        le temps de trouver les modules qui nous permettront d’écrire moins de
        code et d’avoir de meilleures fonctionnalités.
      </p>
      <p>
        Voici les principaux modules que nous utiliserons :
      </p>
      <ul>
        <li><a href="https://gtk.org/">GTK+3</a> pour l’interface,</li>
        <li><a href="https://github.com/kurtmckee/feedparser">feedparser</a> pour lire les flux,</li>
        <li><a href="https://docs.python.org/3/library/configparser.html">configparser</a> pour le fichier de configuration.</li>
      </ul>
    </section>

    <section>
      <h3>Et c’est parti pour le show</h3>

      <p>
        Nous voilà embarqués dans un petit projet. Quelques minutes, quelques
        heures, quelques jours, cela dépendra de votre idée et de vos
        compétences. Mais plus vite vous aurez du code utilisé, plus vite vous
        trouverez la motivation de l’améliorer à long terme.
      </p>
      <p>
        Vous pouvez lire
        <a href="https://gitlab.com/stellalyon/starfeed/-/blob/master/starfeed.py">le code</a>
        de ce petit projet. Nous allons ici voir, commit par commit, comment
        arriver au résultat, pour mettre en avant le cheminement.
      </p>

      <h4>Commit n°1 : fenêtre</h4>
      <p>
        <a href="https://gitlab.com/stellalyon/starfeed/-/commit/b53cf966d22afde9f90a8af6b35c065904234582">Première étape</a>,
        et non des moindres : essayons déjà d’afficher une fenêtre. Cette étape
        se fait avec le code de base de GTK pour créer une application.
      </p>
      <p>
        La fonction <code>do_activate</code> est appelée lorsque <code>run</code> est
        lancé. Elle crée une fenêtre, assure que l’application se ferme lorsque
        la fenêtre se ferme, et affiche la fenêtre.
      </p>

      <h4>Commit n°2 : liste de flux</h4>
      <p>
        <a href="https://gitlab.com/stellalyon/starfeed/-/commit/f68316c2b9d4f0e2dd2d2745bb4f789aa4359d48">Deuxième étape</a> :
        ajoutons les flux à gauche !
      </p>
      <p>
        Notre fenêtre ne sera plus une fenêtre standard, nous allons créer une classe <code>Window</code> qui
        en hérite. À la création, nous ajouterons un conteneur horizontal de boîtes, avec les flux
        (<code>Gtk.StackSidebar</code>) qui activeront les liens (<code>Gtk.Stack</code>).
      </p>

      <h4>Commit n°3 : liste d’articles</h4>
      <p>
        On ajoute
        <a href="https://gitlab.com/stellalyon/starfeed/-/commit/4dd8c196589dc48ef55266e9a00c19e6976dfcd3">la liste des liens</a>.
        Chaque liste de liens (correspondant à un flux) est un <code>TreeView</code>,
        et ces listes seront ajoutées dans la pile.
      </p>

      <h4>Commit n°4 : ouverture des liens</h4>
      <p>
        Pour
        <a href="https://gitlab.com/stellalyon/starfeed/-/commit/85b1517872833c92f34ea62e1583583edab04f27">ouvrir les liens</a>,
        on utilise le module <code>webbrowser</code> qui se charge d’ouvrir le
        navigateur avec l’URL données. Le navigateur est ouvert lorsque la
        ligne correspondant à l’article est activée.
      </p>

      <h4>Commit n°5 : lecteur de flux</h4>
      <p>
        On pourrait croire que
        <a href="https://gitlab.com/stellalyon/starfeed/-/commit/832e8860e928042f037c455c97df5e44bcf56e24">la lecture des flux</a>
        est une opération délicate. Il n’en est rien. Avec <code>feedparser</code>,
        il nous suffit de trois petites lignes pour changer notre jeu de test
        en de vraies données.
      </p>

      <h4>Commit n°6 : configuration</h4>
      <p>
        À la place des données mises dans le code, il serait bon d’utiliser
        <a href="https://gitlab.com/stellalyon/starfeed/-/commit/2d4aecca5a30e7b8fefe5587ce12317b6075e91a">un fichier de configuration</a>.
        Ce fichier de configuration sera un brave fichier INI, ouvert par
        <code>ConfigParser</code>. On remplacera ensuite les flux factices par
        ceux du fichier de configuration.
      </p>
      <p>
        Le format du fichier est simple. Les sections correspondent aux flux,
        elles contiennent une seule clé : <code>url</code>, qui contient sans
        grande surprise l’URL du flux.
      </p>

      <h4>Commit n°7 : mise à jour automatique</h4>
      <p>
        <a href="https://gitlab.com/stellalyon/starfeed/-/commit/59172f4e802b7d3322895da1fad5f797ec379bae">Mettons à jour les flux</a> !
        Pour cela, nous utiliserons un <code>timeout</code> gentiment proposé par <code>GLib</code>,
        et qui lancera la fonction <code>update</code> toutes les 300 secondes.
      </p>
      <p>
        La fonction <code>update</code> ajoute les flux, comme c’était fait
        avant une seule fois au lancement. Comme cette fonction est lancée
        plusieurs fois, elle vide au préalable les flux, avant de les rajouter.
      </p>

      <h4>Commit n°8 : sélection du fil actif après mise-à-jour</h4>
      <p>
        Vider les flux, c’est bien, mais si le flux était sélectionné il ne le
        sera plus. Pas très pratique !
      </p>
      <p>
        On a différentes solutions pour corriger cela. La plus simple est de
        <a href="https://gitlab.com/stellalyon/starfeed/-/commit/0734bcf0804a46224f06bda7490bbbe5fc13a695">garder en mémoire le flux sélectionné</a>,
        de tout mettre à jour et de sélectionner le flux précédemment
        sélectionné.
      </p>
    </section>

    <section>
      <h3>Engrenage</h3>

      <figure>
        <img src="{{ url_for('static', filename='images/00021-butterfly.jpg')}}" alt="Un papillon" title="Et dire que c’était une chenille avant… Qui peut dire ce que l’on sera demain ?" />
        <figcaption>
          Vous voyez l’histoire du battement d’aile de papillon qui provoque
          une tempête à l’autre bout de la Terre ? Bah là, on en est juste au
          battement d’aile. C’est déjà un début.
        </figcaption>
      </figure>
      <p>
        Ce n’est pas le meilleur lecteur de flux RSS, nous sommes
        d’accord. Mais avouez que la prouesse est belle : nous avons avec moins
        de 70 lignes de code un programme fonctionnel, que nous pouvons
        utiliser au jour le jour sans trop souffrir.
      </p>
      <p>
        À ce moment-là, vous êtes déjà à la meilleure place pour vous
        encourager. Forcez-vous quelques temps à utiliser votre création, et si
        tout se passe bien vous aurez des démangeaisons à chaque bug trouvé, à
        chaque fonctionnalité que vous aimeriez avoir.
      </p>
      <p>
        Avec le temps, vous aurez un outil qui correspond à vos besoins. Cet
        outil devrait commencer à plus vous ressembler, et à moins ressembler
        aux autres outils du genre.
      </p>
      <p>
        C’est une bonne base. Une bonne base avant
        <a href="{{ url_for('blog', article='00023-au-bout-d-un-projet-libre-la-suite') }}">la suite</a>…
      </p>
    </section>
  </article>

{% endblock content %}
