{% set title = 'Blog − Gérer des sites WordPress en ligne de commande' %}
{% set description = 'Si vous utilisez WordPress, vous vous êtes forcément déjà promenés dans l’interface d’administration. Elle permet certes de gérer tout son site, mais pour automatiser les choses, ce n’est pas très pratique. Alors on va vous présenter un petit outil qui nous a bien aidé pour ça !' %}
{% set image = url_for('static', filename='images/00034-cat.jpg') %}

{% extends '_layout.jinja2' %}

{% block content %}

  <article>
    <header>
      <h2>Gérer des sites WordPress en ligne de commande</h2>
      <aside><time datetime="2021-09-16">16 septembre 2021</time>, par Lucie</aside>
      <p>
        Si vous utilisez WordPress, vous vous êtes forcément déjà promenés dans
        l’interface d’administration. Elle permet certes de gérer tout son site,
        mais pour automatiser les choses, ce n’est pas très pratique.
        Alors on va vous présenter un petit outil qui nous a bien aidés pour ça !
      </p>
    </header>

    <section>
      <h3>Qu’est-ce que WordPress ?</h3>

      <p>
        Vous connaissez probablement déjà WordPress, mais au cas où, on va faire une
        rapide présentation.
      </p>
      <p>
        WordPress est ce qu’on appelle un <abbr title="Content Management System">CMS</abbr> et permet
        de créer et gérer des sites Web. Il est utilisé par
        <a href="https://w3techs.com/technologies/overview/content_management">
          un peu plus de 40% des sites</a>, c’est pas mal.
      </p>
      <p>
        Après avoir installé quelques petites choses, comme PHP et MySQL (ou MariaDB),
        vous êtes prêts à installer WordPress, avec la
        <a href="https://fr.wordpress.org/support/article/how-to-install-wordpress/">
          fameuse installation en 5 minutes</a>.
      </p>
      <figure>
        <img src="{{ url_for('static', filename='images/00034-bob.jpg')}}" alt="C’est magique" title="C’est magique" />
        <figcaption>
          Installer WordPress
        </figcaption>
      </figure>
      <p>
        Une fois installé, c’est parti pour le bidouillage de votre site !
        Si aucun des thèmes fournis par WordPress ne vous plait, vous pouvez en
        installer un autre créé par la grande communauté WordPress, ou alors vous
        pouvez créer le vôtre.
        Pour vous aider dans tout ça, vous pouvez compter sur les différentes
        extensions. Il en existe vraiment plein, qui vous proposent des formulaires
        de contact, des calendriers, des cartes…
      </p>
      <p>
        Bref, il y en a pour tous les goûts et tous les besoins. Et si vous ne
        trouvez pas votre bonheur, vous pouvez toujours créer ce dont vous avez
        envie 🌼.
      </p>
    </section>

    <section>
      <h3>Qu’est ce qu’on voudrait automatiser et pourquoi ?</h3>

      <p>
        Pour installer WordPress, le plus simple est de créer une base de données,
        de télécharger l’archive WordPress disponible sur le site de WordPress,
        de l’extraire et de lancer le script d’installation.
      </p>
      <p>
        Pour les divers thèmes et extensions que l’on souhaite utiliser, on peut
        les installer en passant par le panneau d’administration de notre site.
      </p>
      <p>
        Ces étapes ne prennent pas beaucoup de temps et ne sont pas très compliquées.
        Elles sont même plutôt pratiques, quand on a un seul site à gérer à la fois.
        Quand on a plusieurs sites dont on doit s’occuper, ou que l’on veut automatiser
        l’installation, passer par l’interface devient alors long et fastidieux.
      </p>
      <p>
        Le cas qui s’est présenté à nous est le suivant :
        <a href="https://hugoperier.com/">notre client</a> (coucou Hugo) crée
        des thèmes WordPress pour ses clients. Il développe ça sur sa propre
        machine, mais pour montrer l’évolution aux clients, ce n’est pas très pratique.
        Le besoin est d’avoir un serveur sur lequel un WordPress serait installé
        pour chaque thème/client et auquel le client aurait accès pour voir
        l’évolution et faire ses retours.
      </p>
      <p>
        Bien sûr, installer un nouveau WordPress à la main à chaque fois est
        faisable. Mais ça fait beaucoup de clics et de temps perdu pour rien.
      </p>
      <figure>
        <img src="{{ url_for('static', filename='images/00034-rabbit.png')}}" alt="Le lapin blanc" title="Le lapin blanc" />
        <figcaption>
          Le temps ! Qu’est ce que le temps !?
        </figcaption>
      </figure>
      <p>
        Nous avons donc cherché à automatiser l’installation de WordPress et
        en cherchant une solution, nous avons trouvé <a href="https://wp-cli.org/">WP-CLI</a>.
      </p>
    </section>

    <section>
      <h3>Un outil sympathique : WP-CLI</h3>

      <p>
        <a href="https://wp-cli.org/">WP-CLI</a> est un outil libre qui
        permet de gérer des sites WordPress directement depuis le terminal.
        Il s’installe facilement en le téléchargeant depuis
        <a href="https://github.com/wp-cli/wp-cli">leur dépôt GitHub</a>.
      </p>
      <p>
        Une fois WP-CLI installé, tout ce que vous faisiez depuis l’interface web
        de votre WordPress, vous pouvez le faire depuis votre terminal. Et qui
        dit ligne de commande, dit automatisation possible !
      </p>
      <p>
        Pour installer un nouveau site WordPress, on a vu qu’il fallait :
      </p>
      <ul>
        <li>avoir une base de données</li>
        <li>télécharger l’archive WordPress</li>
        <li>extraire l’archive</li>
        <li>lancer le script d’installation magique.</li>
      </ul>
      <p>
        Avec WP-CLI, il est possible de mettre toutes ces étapes dans un petit
        script et de n’avoir plus rien à faire à la main. Ce script pourrait
        ressembler à quelque chose comme ça :
      </p>

      {{ '00034-wordpress.sh' | pygmentize }}

      <p>
        Si vous avez plusieurs WordPress sur la même machine, il est possible
        de spécifier le dossier WordPress avec l’option <code>--path</code>.
        Comme ça vous pouvez avoir des configurations différentes pour chacun de
        vos sites.
      </p>
      <p>
        Il s’agit là de l’installation basique de WordPress. Avec WP-CLI, vous
        pouvez installer les extensions dont vous avez besoin, les activer/désactiver,
        les mettre à jour…
      </p>

      {{ '00034-wordpress-plugins.sh' | pygmentize }}

      <p>
        Comme pour l’installation basique de WordPress, il est possible de spécifier
        le dossier WordPress avec l’option <code>--path</code> et donc
        d’installer des extensions pour des sites en particulier.
      </p>

      <p>
        WP-CLI permet bien d’autres choses, comme la gestion des thèmes (similaire
        à la gestion des extensions), des posts, des utilisateurs, des packs de
        langues… On vous laisse visiter
        <a href="https://developer.wordpress.org/cli/commands/">la page de leur site</a>
        qui liste tout ça 😉.
      </p>
    </section>
  </article>

{% endblock content %}
