{% set title = 'Blog − C’est quoi le rapport ?' %}
{% set description = 'Faire court, c’est bien. Mais parfois, c’est bien aussi de faire plus long. Envie de créer un rapport, un catalogue, un magazine ou un livre, avec une belle mise en page soignée ? Bien sûr que c’est possible.' %}
{% set image = url_for('static', filename='images/00030-vignette.png') %}

{% extends '_layout.jinja2' %}

{% block content %}

  <article>
    <header>
      <h2>C’est quoi le rapport</h2>
      <aside><time datetime="2021-05-06">6 mai 2021</time>, par Stella et <a href="https://madcats.fr/">Madcats</a></aside>
      <p>
        Faire court, c’est bien. Mais parfois, c’est bien aussi de faire plus
        long. Envie de créer un rapport, un catalogue, un magazine ou un livre,
        avec une belle mise en page soignée ? Bien sûr que c’est possible.
      </p>
    </header>

    {% include 'articles/_documents_contents.jinja2' %}

    <section>
      <h3>Quand c’est long, ça se complique</h3>

      <p>
        Jusqu’à présent, nous avons créé des documents plutôt courts :
        factures, devis, lettres… C’était facile, non ? Mais… Que se
        passerait-il si l’on décidait de créer des documents plus longs ?
      </p>
      <p>
        La question n’est pas si évidente. Évidemment, certaines des
        problématiques sont les mêmes dans un livre que dans une lettre, ce
        n’est pas la peine d’oublier tout ce que nous avons vu sous prétexte
        que la longueur a changé !
      </p>
      <p>
        Cela dit, certaines choses sont différentes. Quoi ? Ouvrez un magazine
        ou un livre, écarquillez bien les yeux, et vous trouverez une myriade
        de petits détails auxquels vous n’aviez jamais vraiment fait attention.
      </p>
    </section>

    <section>
      <h3>Sous vos yeux ébahis</h3>

      <figure>
        <a href="{{ url_for('static', filename='images/00030-petits-details.png')}}">
          <img src="{{ url_for('static', filename='images/00030-petits-details.png')}}" alt="Une table des matières" title="Voilà le menu !" />
        </a>
        <figcaption>
          Avez-vous déjà regardé attentivement une table des matières ? Non ?
          Alors c’est le moment où jamais de découvrir certaines choses que
          vous n’aviez jamais vues.
        </figcaption>
      </figure>

      <p>
        Lorsqu’ils atteignent une certaine longueur, les documents deviennent
        rapidement un petit puzzle. Sans que l’on ne s’en rende compte, ils se
        transforment en un savant assemblage de techniques simples en
        apparence, mais en réalité raffinées par des siècles de pratique.
      </p>
      <p>
        La liste est presque inépuisable : table des matières, numéros de page,
        index, en-têtes, notes de bas de page, marges, têtes de chapitre,
        préambules, bibliographies, inserts… Selon la nature et la longueur, on
        peut être amené à intégrer ces astuces comme autant d’aides discrètes
        pour le lecteur.
      </p>
      <p>
        Toutes ces aides sont à peine visibles et pourtant extrêmement
        importantes. Toutes ont l’air dispensables, mais elles figurent
        invariablement dans certains types de documents, comme autant de
        marqueurs qui rassurent le lecteur. Ce n’est pas parce qu’on ne les
        remarque pas que l’on pourrait s’en passer, au contraire : c’est
        lorsqu’on ne les remarque pas qu’elles sont le mieux intégrées, qu’on
        les trouve sans les chercher, qu’on les lit sans les voir.
      </p>

      <figure>
        <a href="{{ url_for('static', filename='images/00030-fin-chapitre.png')}}">
          <img style="width: 45%" src="{{ url_for('static', filename='images/00030-fin-chapitre.png')}}" alt="Fin de chapitre de « La chute » d’Albert Camus, collection Folio" title="Mais non, ce n’est pas la chute…" />
        </a>
        <a href="{{ url_for('static', filename='images/00030-debut-chapitre.png')}}">
          <img style="width: 45%" src="{{ url_for('static', filename='images/00030-debut-chapitre.png')}}" alt="Début de chapitre de « La chute » d’Albert Camus, collection Folio" title="… c’est juste un nouveau commencement !" />
        </a>
        <figcaption>
          Fin et début de chapitre dans un livre de poche. Pas de numéro de
          page sur la dernière page ou sur la page vide, tête de chapitre en
          page de droite avec une marge en haut, des choix simples, classiques
          et efficaces.
        </figcaption>
      </figure>

      <p>
        Si l’envie vous vient de créer de tels document, vous pouvez simplement
        vous appuyer sur d’autres documents de même type. Comment fonctionnent
        la pagination et le sommaire d’un magazine ? Comment sont mises en page
        les têtes de chapitres d’un livre de poche ? Allez voir comment les
        autres font, dénichez les détails que personne ne relève mais que tout
        le monde utilise, et vous aurez une réponse satisfaisante.
      </p>
      <p>
        Il n’est vraiment pas facile de faire attention à tous les détails,
        parce qu’ils sont nombreux. Une marge, une taille de fonte, un
        alignement… Tout est savamment orchestré avec une minutie d’orfèvre,
        pour que tout ait au final l’air parfaitement « normal ». C’est un
        savoir-faire qui se travaille avec l’expérience, et votre œil aura vite
        l’habitude de voir clairement les détails invisibles.
      </p>

      <figure>
        <a href="{{ url_for('static', filename='images/00030-fin-chapitre.png')}}">
          <img style="width: 45%" src="{{ url_for('static', filename='images/00030-fin-chapitre.png')}}" alt="Fin de chapitre de « La chute » d’Albert Camus, collection Folio" title="Mais non, ce n’est pas la chute…" />
        </a>
        <a href="{{ url_for('static', filename='images/00030-debut-chapitre.png')}}">
          <img style="width: 45%" src="{{ url_for('static', filename='images/00030-debut-chapitre.png')}}" alt="Début de chapitre de « La chute » d’Albert Camus, collection Folio" title="… c’est juste un nouveau commencement !" />
        </a>
        <figcaption>
          Allons plus loin : la page fait environ 11 cm × 18 mm, avec un
          rapport très proche du
          <a href="https://fr.wikipedia.org/wiki/Nombre_d%27or">nombre d’or</a>.
          Sur la première page du chapitre, le texte commence à environ 11 cm
          du bas de page, inscrivant le texte dans un carré presque parfait, et
          reproduisant le ratio du nombre d’or sur la hauteur. Et ouais. Là, ça
          ne rigole plus…
        </figcaption>
      </figure>
    </section>

    <section>
      <h3>Se souvenir des belles choses</h3>

      <p>
        Malgré la créativité des graphistes et la variété des supports, vous
        remarquerez rapidement de grandes similitudes entre tous vos documents.
        Pourquoi un tel classicisme ?
      </p>

      <figure>
        <a href="{{ url_for('static', filename='images/00030-exemple-1.png')}}">
          <img style="width: 30%" src="{{ url_for('static', filename='images/00030-exemple-1.png')}}" alt="Table des matières de « Thinking with Type » d’Ellen Lupton" title="C’est vraiment beau" />
        </a>
        <a href="{{ url_for('static', filename='images/00030-exemple-2.png')}}">
          <img style="width: 30%" src="{{ url_for('static', filename='images/00030-exemple-2.png')}}" alt="Table des matières de « The Elements of Typographic Style » de Robert Bringhurst" title="C’est vraiment clair" />
        </a>
        <a href="{{ url_for('static', filename='images/00030-exemple-3.png')}}">
          <img style="width: 30%" src="{{ url_for('static', filename='images/00030-exemple-3.png')}}" alt="Table des matières de « The Visual Display of Quantitative Information » d’Edward Tufte" title="C’est vraiment classe" />
        </a>
        <figcaption>
          Trois tables des matières dans trois livres formidables écrits en
          anglais. Un titre de page, des titres de chapitres, des numéros de
          chapitres, des numéros de pages. Rien d’autre, c’est tout.
        </figcaption>
      </figure>

      <p>
        Comme la plupart des outils simples, la mise en page utilisée
        actuellement est le fruit d’une longue histoire. De nombreuses
        solutions ont été testées au fil des siècles, et les plus appréciées
        sont restées au fil de ce qui ressemble à une sélection naturelle.
      </p>
      <p>
        Au-delà de l’efficacité des solutions retenues, la culture joue
        également un rôle important. Si les règles sont souvent très proches
        partout sur le globe, beaucoup de détails varient avec les habitudes et
        les goûts des populations. Rien d’absolu donc, mais beaucoup de règles
        similaires partout dans le monde qui habitent cet art multi-centenaire.
      </p>
      <p>
        Il n’est donc pas particulièrement nécessaire de chercher à innover
        dans vos mises en pages. La simplicité et la sobriété devraient éviter
        des tracas à vos lecteurs, et c’est le mieux que vous pouvez leur
        apporter à ce sujet. Tout le monde connaît les règles tacites sans le
        savoir, tout le monde aime instinctivement se souvenir des belles
        choses.
      </p>
    </section>

    <section>
      <h3>Créer dans les carcans</h3>

      <p>
        Cela veut-il dire que la nouveauté et l’originalité n’ont pas leur
        place dans vos documents ? Bien sûr que non ! Les contraintes ne sont
        pas incompatibles avec les fougueuses envies des équipes créatives, au
        contraire. En restant dans les règles de l’art, il est possible de
        générer de superbes documents.
      </p>
      <p>
        Vous l’avez deviné : c’est ce que nous verrons dans le prochain
        article…
      </p>
  </article>

{% endblock content %}
