{% set title = 'Blog − L’opt-in et l’opt-out pour la mesure d’audience' %}
{% set description = 'Le principe d’opt-in et d’opt-out se retrouve dans divers domaines, comme par exemple la publicité, mais on le trouve également dans le domaine de la mesure d’audience. Est-il toujours nécessaire d’avoir le consentement de l’utilisateur avant de le tracer ?' %}
{% set image = url_for('static', filename='images/00036-footprints.jpg') %}

{% extends '_layout.jinja2' %}

{% block content %}

  <article>
    <header>
      <h2>L’opt-in et l’opt-out pour la mesure d’audience</h2>
      <aside><time datetime="2021-10-14">14 octobre 2021</time>, par Lucie</aside>
      <p>
        Le principe d’opt-in et d’opt-out se retrouve dans divers domaines, comme
        par exemple la publicité, mais on le trouve également dans le domaine de
        la mesure d’audience. Est-il toujours nécessaire d’avoir le consentement de
        l’utilisateur avant de le tracer ? C’est ce que nous allons voir dans
        cet article !
      </p>
    </header>

    <section>
      <h3>De quoi parle-t-on ?</h3>

      <h4>Qu’est-ce qu’un traceur ?</h4>
      <p>
        Le terme « traceur » regroupe les différents outils qui peuvent être
        utilisés pour tracer un utilisateur sur une application ou un site web.
        Parmi ces traceurs, on retrouve par exemple :
      </p>
      <ul>
        <li>
          les cookies : ce sont des petits fichiers qui sont déposés sur
          l’ordinateur (ou la tablette, le téléphone…) de l’utilisateur pour
          stocker des informations en vue de les réutiliser plus tard ;
        </li>
        <li>
          les fingerprints : ce sont des identifiants générés à partir de
          différentes informations (comme les caractéristiques du navigateur,
          du système d’exploitation, de l’ordinateur…). Ces identifiants sont
          alors uniques ;
        </li>
        <li>
          les pixels invisibles : ce sont des toutes petites images transparentes
          qui vont permettre de savoir si un utilisateur accède à un contenu ou
          non ;
        </li>
        <li>ou n’importe quel identifiant unique au terminal utilisé.</li>
      </ul>

      <p>
        Les traceurs sont très souvent utilisés pour la mesure d’audience afin
        d’avoir des statistiques assez fines sur le comportement des utilisateurs
        sur un site, une application…
      </p>

      <h4>Qu’est-ce que l’opt-in ?</h4>
      <p>
        Dans la plupart des cas, on ne peut pas utiliser les traceurs pour la
        mesure d’audience sans demander l’accord au préalable à l’utilisateur.
      </p>
      <p>
        C’est ce qu’on appelle l’opt-in.
      </p>
      <p>
        L’utilisateur doit d’abord donner son consentement, après avoir eu toutes
        les informations nécessaires, à l’utilisation des traceurs.
        Et bien sûr, l’utilisateur doit pouvoir retirer son consentement quand
        il le souhaite, aussi facilement que quand il l’a donné.
      </p>

      <h4>Qu’est-ce que l’opt-out ?</h4>
      <p>
        Dans d’autres cas, on peut utiliser les traceurs pour la mesure
        d’audience sans demander l’accord au préalable à l’utilisateur.
      </p>
      <p>
        C’est ce qu’on appelle l’opt-out.
      </p>
      <p>
        Par contre, ce n’est pas parce qu’il n’y a pas besoin d’avoir le
        consentement de l’utilisateur en amont que le consentement ne peut pas
        être retiré. En effet, l’utilisateur doit, là aussi, pourvoir le retirer
        quand il le souhaite, et facilement.
      </p>
    </section>

    <section>
      <h3>L’opt-out, c’est plus pratique</h3>

      <p>
        Si l’on souhaite faire de la mesure d’audience sur son site ou son
        application, pouvoir passer par l’opt-out est beaucoup plus pratique.
        Pas besoin de demander l’avis à l’utilisateur avant.
      </p>

      <figure>
        <img src="{{ url_for('static', filename='images/00036-not-to-fast.jpg') }}" alt="Une petite tortue trop mignonne" title="Pas si vite !" />
        <figcaption>
          Pas si vite ! Alors oui, c’est pratique, mais il faut respecter certaines règles.
        </figcaption>
      </figure>

      <h4>Que dois-je faire et ne pas faire ?</h4>
      <p>
        Pour pouvoir utiliser un traceur pour la mesure d’audience sans
        consentement préalable, le traceur doit :
      </p>
      <ul>
        <li>
          avoir une finalité limitée strictement à la mesure d’audience, et
          seulement pour le compte de l’éditeur : c’est-à-dire que le traceur ne
          doit être utilisé que pour ça et uniquement pour l’éditeur (du site,
          de l’application…) ;
        </li>
        <li>
          servir à produire uniquement des données statistiques anonymes :
          c’est-à-dire qu’il n’est pas possible, à partir des données, d’identifier
          un utilisateur.
        </li>
      </ul>

      <p>
        En revanche, le traceur ne doit pas :
      </p>
      <ul>
        <li>
          servir à recouper les données avec d’autres données ou traitement, ni
          à transmettre ces données à des tiers ;
        </li>
        <li>
          permettre de suivre la navigation de l’utilisateur : c’est-à-dire que
          le traceur ne doit pas permettre de savoir quelles pages a visitées
          la personne, quelles applications elle a utilisées, etc.
        </li>
      </ul>

      <h4>Comment configurer son outil de mesure d’audience ?</h4>

      <p>
        Certains outils de mesure d’audience peuvent se passer du consentement
        préalable de l’utilisateur. Mais pour ça, ils doivent être bien
        configurés pour respecter les différentes règles.
      </p>
      <p>
        Des guides de configuration pour ces outils sont disponibles sur le
        <a href="https://www.cnil.fr/fr/cookies-solutions-pour-les-outils-de-mesure-daudience">
        site de la CNIL</a> pour vous aider !
      </p>

      <p>
        Si votre outil n’est pas la liste, il est possible qu’il n’ait pas été
        encore examiné par la CNIL, mais surtout fort probable qu’il ne
        puisse pas être exempté de consentement. C’est peut-être le moment
        de changer et d’utiliser un outil plus respectueux des données 😉.
      </p>
    </section>
  </article>

{% endblock content %}
