{% set title = 'Blog − Des affiches et des flyers' %}
{% set description = 'Lors de l’organisation d’un évènement, affiches et flyers sont des supports de communication importants. Là aussi, les outils du Web peuvent nous aider à automatiser leur création !' %}
{% set image = url_for('static', filename='images/00032-bus-stop.jpg') %}

{% extends '_layout.jinja2' %}

{% block content %}

  <article>
    <header>
      <h2>Des affiches et des flyers</h2>
      <aside><time datetime="2021-06-24">24 juin 2021</time>, par Stella et <a href="https://madcats.fr/">Madcats</a></aside>
      <p>
        Lors de l’organisation d’un évènement, affiches et flyers sont des
        supports de communication importants. Là aussi, les outils du Web
        peuvent nous aider à automatiser leur création !
      </p>
    </header>

    {% include 'articles/_documents_contents.jinja2' %}

    <section>
      <h3>Quel contenu pour votre affiche ?</h3>

      <p>
        Comme tout document, la première chose à faire est de définir le
        contenu que vous souhaitez voir apparaitre dessus. Dans le cas d’une
        affiche pour un évènement, ces informations sont généralement
        celles-ci :
      </p>
      <ul>
        <li>le nom de l’évènement</li>
        <li>le lieu</li>
        <li>les dates</li>
        <li>le lien vers le site de l’évènement</li>
        <li>les sponsors</li>
      </ul>

      <p>
        Une fois le contenu de l’affiche défini, les graphistes peuvent alors
        créer son visuel.
      </p>

      <figure>
        <img style="width: 30%" src="{{ url_for('static', filename='images/00032-affiche-concert.jpg')}}" alt="Affiche pour un tournoi" title="Un petit tournoi ?" />
        <img style="width: 50%" src="{{ url_for('static', filename='images/00032-bus-stop.jpg')}}" alt="Affiche pour un festival" title="Un petit festival ?" />
        <figcaption>
          Votre affiche pourrait être celle-ci, ou celle-ci.
        </figcaption>
      </figure>

      <p>
        L’affiche de votre évènement est toute belle. Mais voilà, il faudrait
        qu’elle soit de taille pour les abris-bus, pour la pleine page dans les
        magazines… et pourquoi pas la décliner en flyers ?
      </p>
    </section>

    <section>
      <h3>Voir les choses en plus grand, ou en plus petit</h3>

      <p>
        Que l’affiche soit sur un abri-bus, une page de magazine ou déclinée en
        flyers, son contenu va rester le même. On pourrait penser que le
        passage d’un format à l’autre n’est qu’une rapide mise à l’échelle,
        mais ce n’est pas le cas.
      </p>

      <p>
        En effet, si l’on se contente d’une mise à l’échelle, les informations
        ne seront plus aussi facilement lisibles : des éléments petits sur une
        grande affiche peuvent ne plus être parfaitement discernables sur un
        petit flyer. Il peut être également souhaitable de rendre certains
        visuels relativement plus grands, comme les sponsors par exemple.
      </p>

      <figure>
        <a href="{{ url_for('static', filename='images/00032-affiche-gaming.png')}}">
          <img style="width: 45%" src="{{ url_for('static', filename='images/00032-affiche-gaming.png')}}" alt="Affiche pour un tournoi" title="Un petit tournoi ?" />
        </a>
        <a href="{{ url_for('static', filename='images/00032-flyer-echelle-gaming.png')}}">
          <img style="width: 20%" src="{{ url_for('static', filename='images/00032-flyer-echelle-gaming.png')}}" alt="Affiche pour un tournoi" title="Un petit tournoi ?" />
        </a>
        <figcaption>
          L’affiche à gauche et son flyer avec une mise à l’échelle - Tournoi.
        </figcaption>
      </figure>

      <figure>
        <a href="{{ url_for('static', filename='images/00032-affiche-taillecrayon.png')}}">
          <img style="width: 45%" src="{{ url_for('static', filename='images/00032-affiche-taillecrayon.png')}}" alt="Affiche pour un festival" title="Un petit festival ?" />
        </a>
        <a href="{{ url_for('static', filename='images/00032-flyer-echelle-taillecrayon.png')}}">
          <img style="width: 20%" src="{{ url_for('static', filename='images/00032-flyer-echelle-taillecrayon.png')}}" alt="Affiche pour un festival" title="Un petit festival ?" />
        </a>
        <figcaption>
          L’affiche à gauche et son flyer avec une mise à l’échelle - Festival.
        </figcaption>
      </figure>

      <p>
        La ligne contenant l’adresse complète ainsi que l’adresse vers le site
        internet est beaucoup trop petite. Il en va de même pour les logos des
        sponsors que l’on ne discerne pas très bien.
      </p>

      <p>
        Afin d’éviter ça, on va plutôt vouloir mettre le texte un peu plus
        gros, pareil pour les sponsors. Et pour éviter d’avoir un effet trop
        « tassé », il va falloir jouer avec les espaces, les tailles d’images,
        etc.
      </p>

      <p>
        En applicant ces petites astuces, on peut obtenir un flyer un peu plus
        lisible !
      </p>

      <figure>
        <a href="{{ url_for('static', filename='images/00032-flyer-echelle-taillecrayon.png')}}">
          <img style="width: 20%" src="{{ url_for('static', filename='images/00032-flyer-echelle-taillecrayon.png')}}" alt="Affiche pour un festival" title="Un petit festival ?" />
        </a>
        <a href="{{ url_for('static', filename='images/00032-flyer-taillecrayon.png')}}">
          <img style="width: 20%" src="{{ url_for('static', filename='images/00032-flyer-taillecrayon.png')}}" alt="Flyer pour un festival" title="Un petit festival ?" />
        </a>
        <a href="{{ url_for('static', filename='images/00032-flyer-echelle-gaming.png')}}">
          <img style="width: 20%" src="{{ url_for('static', filename='images/00032-flyer-echelle-gaming.png')}}" alt="Affiche pour un tournoi" title="Un petit tournoi ?" />
        </a>
        <a href="{{ url_for('static', filename='images/00032-flyer-gaming.png')}}">
          <img style="width: 20%" src="{{ url_for('static', filename='images/00032-flyer-gaming.png')}}" alt="Flyer pour un tournoi" pour un tournoi" title="Un petit tournoi ?" />
        </a>
        <figcaption>
          Les flyers légèrement adaptés, comparés aux formats mis à l’échelle.
        </figcaption>
      </figure>

      <p>
        Les différences entre les deux documents sont légères, mais elles
        apportent une véritable valeur ajoutée pour les formats plus petits.
        Avec quelques retouches sur des largeurs d’images, des tailles de
        caractères, des couleurs et des espaces, on arrive à un résultat plus
        lisible et plus agréable à l’œil.
      </p>

      <p>
        Cela étant dit, même si les différences sont légères, elles nécessitent
        de maintenir en parallèle autant de fichiers différents que de formats.
        Il est toujours possible de créer ces différents fichiers à partir de
        zéro, en faisant bien attention de mettre les mêmes informations que
        sur l’affiche. Et au-delà de la création, il faut surtout ne pas
        oublier de mettre à jour l’affiche et le flyer si il y a du mouvement
        du côté des sponsors !
      </p>

      <p>
        Est-on réellement obligés de s’infliger ce travail supplémentaire ?
      </p>

      <p>
        Bien sûr que non. Pour éviter ce problème, vous pouvez générer vos
        affiches et flyers en utilisant les outils du Web, HTML et CSS. Le
        contenu se trouve alors à un seul endroit, sans duplication. Les
        différentes mises en page se font assez rapidement en quelques lignes,
        et restent faciles à maintenir !
      </p>

      <p>
        D’ailleurs ces affiches et flyers ont été réalisés avec ces outils 😁.
      </p>
    </section>
  </article>

{% endblock content %}
