{% set title = 'Blog − Sortez le grand jeu (de cartes)' %}
{% set description = 'L’été est arrivé, et pour profiter pleinement de nos vacances rien de tel qu’un petit jeu de cartes en bonne compagnie. Pourquoi ne pas se créer un petit jeu de cartes personnalisé ?' %}
{% set image = url_for('static', filename='images/00033-cartes.png') %}

{% extends '_layout.jinja2' %}

{% block content %}

  <article>
    <header>
      <h2>Sortez le grand jeu (de cartes)</h2>
      <aside><time datetime="2021-07-30">30 juillet 2021</time>, par Stella et <a href="https://madcats.fr/">Madcats</a></aside>
      <p>
        L’été est arrivé, et pour profiter pleinement de nos vacances rien de
        tel qu’un petit jeu de cartes en bonne compagnie. Pourquoi ne pas se
        créer un petit jeu de cartes personnalisé ?
      </p>
    </header>

    {% include 'articles/_documents_contents.jinja2' %}

    <section>
      <h3>Qu’est-ce qu’un jeu de cartes ?</h3>

      <p>
        Des cartes à jouer, vous en avez vu plein. Vous avez sans doute joué à
        la bataille il y a de nombreuses années, et plus tard à la belote, au
        tarot, au poker… Vous en avez même vu sur des ordinateurs, pour une
        partie de solitaire ou de dame de pique. Un paquet de cartes est un
        objet du quotidien, que l’on connaît tous sans s’en rendre compte. Au
        fil des années, vous avez assimilé toutes les règles implicites qui le
        définissent, sans pour autant qu’il soit facile de les lister.
      </p>

      <p>
        Alors, pourquoi ne pas créer le vôtre ?
      </p>

      <figure>
        <img style="width: 30%" src="{{ url_for('static', filename='images/00033-as-de-trefle.svg')}}" alt="As de trèfle" title="As de trèfle 🃑" />
        <img style="width: 30%" src="{{ url_for('static', filename='images/00033-sept-de-pique.svg')}}" alt="Sept de pique" title="Sept de pique 🂧" />
        <img style="width: 30%" src="{{ url_for('static', filename='images/00033-valet-de-cœur.svg')}}" alt="Valet de cœur" title="Valet de cœur 🂻" />
        <figcaption>
          Des cartes françaises classiques (ici créées par
          <a href="http://svg-cards.sourceforge.net/">David Bellot</a>).
        </figcaption>
      </figure>

      <p>
        Ce petit trèfle tout seul sur sa carte et le visage légèrement penché
        de Lahire ne changent pas. Vous avez sans doute manipulé des variantes
        plus ou moins fantaisistes, avec des formats et des visuels différents,
        mais vous reconnaissez pourtant ces cartes au premier coup d’œil.
      </p>

      <p>
        Mais qu’est-ce qu’un jeu de cartes, en théorie ? Si l’on tente
        d’analyser un peu les choses, une carte est (souvent) le mélange d’une
        enseigne (communément appelée « couleur ») et d’une valeur : deux de
        pique, valet de trèfle, as de cœur… D’un point de vue mathématique,
        c’est donc une simple fonction à deux variables qui permet de générer
        l’ensemble des cartes.
      </p>

      <p>
        Un deux de pique, c’est un deux de trèfle, mais avec des piques. Un
        trois de cœur, c’est un deux de cœur, avec un cœur en plus. Évident,
        non ? C’est une bonne raison pour ne pas dessiner toutes les cartes les
        unes après les autres, mais plutôt d’essayer d’automatiser tout cela.
        Si l’on peut s’économiser un peu de travail…
      </p>
    </section>

    <section>
      <h3>Des variantes</h3>

      <p>
        Évidemment, les choses sont toujours un peu plus compliquées, ce n’est
        pas une simple fonction à deux inconnues. Nous parlons d’un jeu de
        cartes comme s’il n’en existait qu’un, mais vous savez déjà que ce
        n’est pas le cas.
      </p>
      <p>
        La première variation que vous connaissez, c’est le nombre de cartes.
        Si vous avez grandi en France, il y a de grandes chances que vous ayez
        eu en main des jeux de 32, 54 et 78 cartes. Vous savez alors qu’un jeu
        de 54 contient 2 jokers qui ne sont pas dans le jeu de 32, et que le
        jeu de tarot contient des atouts, des cavaliers et une excuse que l’on
        ne rencontre pas ailleurs.
      </p>
      <figure>
        <img style="width: 25%" src="{{ url_for('static', filename='images/00033-joker.png')}}" alt="Joker" title="Joker 🃏, dans un jeu de 54 cartes" />
        <img style="width: 25%" src="{{ url_for('static', filename='images/00033-excuse.jpg')}}" alt="Excuse" title="Excuse, dans un jeu de tarot français" />
        <figcaption>
          Des cartes spécifiques à certains jeux : le joker et l’excuse.
        </figcaption>
      </figure>

      <p>
        Une autre différence apparaît également lorsque l’on regarde ces
        cartes : leur dimension diffère. Le jeu de tarot est habituellement
        plus allongé (60 × 112 mm) que les jeux de 32 et 54 cartes. Et même
        pour ces dernières, la taille n’est pas toujours la même : on préfère
        au poker avoir des cartes plus larges (63 × 88 mm) que pour les autres
        jeux, où l’on utilise habituellement le format bridge (57 × 88 mm).
      </p>
      <p>
        Et bien sûr, toutes ces règles ne valent que pour les jeux de cartes
        français. Bien qu’il soit l’un des types de jeux de cartes les plus
        répandus dans le monde, il est loin d’être le seul, et vous trouverez
        une grande variété de déclinaisons si vous allez dans d’autres pays !
      </p>
      <figure>
        <img style="width: 25%" src="{{ url_for('static', filename='images/00033-sept-de-gland.jpg')}}" alt="Sept de gland" title="Sept de gland, dans un jeu hongrois utilisé en Allemagne" />
        <img style="width: 25%" src="{{ url_for('static', filename='images/00033-quatre-de-bâton.jpg')}}" alt="Quatre de bâton" title="Quatre de bâton, dans un jeu de Plaisance en Italie" />
        <img style="width: 25%" src="{{ url_for('static', filename='images/00033-valet-de-denier.jpg')}}" alt="Valet de denier" title="Valet de denier, dans un jeu espagnol utilisé à Naples" />
        <figcaption>
          Quelques exemples parmi la liste interminable de variantes utilisées
          en Europe. Les types de jeux sont parfois créés dans certaines
          régions avant d’être adaptés et utilisés dans d’autres régions à
          des milliers de kilomètres, rendant la classification assez complexe.
        </figcaption>
      </figure>
    </section>

    <section>
      <h3>Des règles et de la créativité</h3>

      <p>
        Créer des cartes, c’est un peu comme jouer : il faut suivre des règles,
        mais cela n’empêche pas de faire preuve d’inventivité. Et c’est un
        adage que nous avons déjà rencontré à maintes reprises dans notre suite
        d’articles, et qui s’applique bien à la mise en page en général.
      </p>
      <p>
        Le jeu de cartes fonctionne bien si l’on peut au premier regard
        reconnaître les cartes. Tout comme il est agréable de lire des longs
        textes lorsque les lettres apparaissent classiques, il est agréable de
        jouer sans avoir à réfléchir pour déchiffrer la couleur ou la hauteur
        de la carte que l’on regarde.
      </p>
      <figure>
        <img style="width: 30%" src="{{ url_for('static', filename='images/00033-sept-de-pique.svg')}}" alt="Sept de pique classique" title="Sept de pique 🂧 classique" />
        <img style="width: 25%" src="{{ url_for('static', filename='images/00033-sept-de-pique-madcats.png')}}" alt="Sept de pique Madcats" title="Sept de pique 🂧 Madcats" />
        <figcaption>
          Deux sept de pique : le premier très classique, le second plus original.
        </figcaption>
      </figure>
      <p>
        Pour ces deux sept de pique, la liste des ressemblances est très
        longue : du noir sur fond blanc, un 7 et un ♠ en haut à gauche, un 7 et
        un ♠ retournés en bas à droite, sept ♠ qui suivent le même schéma de
        disposition… Il est facile pour l’un comme pour l’autre de les
        identifier d’un coup d’œil, sans effort. Ainsi, les contraintes à
        suivre sont très importantes, sous peine de rendre les cartes peu
        agréables à utiliser.
      </p>
      <p>
        Cependant, il est bien sûr possible de prendre certaines libertés : les
        7 et les ♠ ne sont pas d’une couleur uniforme, la dispositions des ♠ ne
        prend pas toute la hauteur de la carte, le signe du ♠ est stylisé… La
        limite est forcément poreuse entre un jeu de cartes purement ornemental
        et un jeu de cartes réellement utilisable, mais on voit ici qu’il est
        possible de suivre beaucoup de règles sans sacrifier la créativité.
      </p>
      <figure>
        <img style="width: 30%" src="{{ url_for('static', filename='images/00033-dame-de-cœur.svg')}}" alt="Dame de cœur classique" title="Dame de cœur 🂽 classique" />
        <img style="width: 25%" src="{{ url_for('static', filename='images/00033-dame-de-cœur-madcats.png')}}" alt="Dame de cœur Madcats" title="Dame de cœur 🂽 Madcats" />
        <figcaption>
          Deux dames de cœur : la classique Judith, l’originale Gros Bouchon.
        </figcaption>
      </figure>

      <p>
        La génération de cartes comme celle-là est finalement assez simple à
        automatiser. Peu de choses diffèrent entre un sept de pique et un sept
        de trèfle, ou entre un cinq de cœur et un six de cœur.
      </p>
      <p>
        Dès lors, nul besoin de réaliser à la main l’ensemble des cartes. Que
        ce soit pour réaliser les différentes cartes d’une famille, ou pour
        réaliser des variantes de taille, de type de jeu, ou de graphisme, il
        est possible de mettre en place tous les outils nécessaires pour une
        création automatique.
      </p>

      <p>
        On peut même aller plus loin. Pour présenter des jeux de cartes sous
        forme informatique, il peut être intéressant d’avoir des documents où
        chaque carte est mise seule sur une page différente. Mais pour réaliser
        concrètement un jeu de cartes « maison », on préférerait les imprimer
        par planches sur des feuilles A4, si possible avec des traits de coupe.
      </p>
      <p>
        Pour toutes ces tâches, comme nous l’avons déjà vu tout au long de nos
        articles, des outils existent pour limiter drastiquement le travail
        nécessaire. Il est dès lors facile de tester certaines créations ou de
        modifier quelques détails sans avoir à retoucher à chaque fois
        l’ensemble des cartes et des variations.
      </p>

      <p>
        Pour les cartes, comme pour les sujets plus « sérieux » (loin de moi
        l’idée de dire que les jeux de cartes ne sont pas sérieux 😉),
        l’utilisation d’outils adaptés peut vous permettre de gagner beaucoup
        de temps. Vous pouvez vous éviter beaucoup d’opérations fastidieuses et
        répétitives, tout en améliorant la cohérence et la qualité de vos
        créations.
      </p>
      <p>
        Désormais, c’est à vous de jouer.
      </p>
    </section>
  </article>

{% endblock content %}
