<section>
  <p>🐈⭐🐈⭐🐈</p>
  <p>
    Cet article fait partie d’une longue série, réalisée avec <a href="https://madcats.fr/">le studio créatif Madcats</a>, sur
    la création de documents avec <a href="https://weasyprint.org/">WeasyPrint</a>.
  </p>
  <ol>
    <li>
      <a href="{{ url_for('blog', article='00026-des-documents-adaptes-a-vos-envies-et-vos-formats') }}">
        Des documents adaptés à vos envies et vos formats
      </a>
    </li>
    <li>
      <a href="{{ url_for('blog', article='00027-des-factures-a-votre-image') }}">
        Des factures à votre image
      </a>
    </li>
    <li>
      <a href="{{ url_for('blog', article='00028-le-sens-du-detail') }}">
        Le sens du détail
      </a>
    </li>
    <li>
      <a href="{{ url_for('blog', article='00029-des-lettres') }}">
        Des lettres et des lettres
      </a>
    </li>
    <li>
      <a href="{{ url_for('blog', article='00030-c-est-quoi-le-rapport') }}">
        C’est quoi le rapport ?
      </a>
    </li>
    <li>
      <a href="{{ url_for('blog', article='00031-en-long-en-large-et-sans-travers') }}">
        En long, en large et sans travers
      </a>
    </li>
    <li>
      <a href="{{ url_for('blog', article='00032-des-affiches-et-des-flyers') }}">
        Des affiches et des flyers
      </a>
    </li>
    <li>
      <a href="{{ url_for('blog', article='00033-sortez-le-grand-jeu-de-cartes') }}">
        Sortez le grand jeu (de cartes)
      </a>
    </li>
  </ol>
  <p>🐈⭐🐈⭐🐈</p>
</section>
