<section>
  <p>🌟🌟🌟</p>
  <p>
    Cet article fait partie d’une série de 4 articles enthousiastes sur la
    création de projets libres :
  </p>
  <ol>
    <li>
      <a href="{{ url_for('blog', article='00017-au-bout-d-un-projet-libre-l-idee') }}">
        L’idée
      </a>
    </li>
    <li>
      <a href="{{ url_for('blog', article='00019-au-bout-d-un-projet-libre-le-plan') }}">
        Le plan
      </a>
    </li>
    <li>
      <a href="{{ url_for('blog', article='00021-au-bout-d-un-projet-libre-le-code') }}">
        Le code
      </a>
    </li>
    <li>
      <a href="{{ url_for('blog', article='00023-au-bout-d-un-projet-libre-la-suite') }}">
        La suite
      </a>
    </li>
  </ol>
  <p>🌟🌟🌟</p>
</section>
