<section>
  <p>💕💕💕</p>
  <p>
    Cet article fait partie d’une série de 7 articles larmoyants sur la
    création de paquets Python :
  </p>
  <ol>
    <li>
      <a href="{{ url_for('blog', article='00003-l-enfer-des-paquets-python-le-sac-de-noeuds') }}">
        Le sac de nœuds
      </a>
    </li>
    <li>
      <a href="{{ url_for('blog', article='00005-l-enfer-des-paquets-python-les-racines-du-mal') }}">
        Les racines du mal
      </a>
    </li>
    <li>
      <a href="{{ url_for('blog', article='00007-l-enfer-des-paquets-python-la-folie-des-formats') }}">
        La folie des formats
      </a>
    </li>
    <li>
      <a href="{{ url_for('blog', article='00009-l-enfer-des-paquets-python-des-fichiers-partout') }}">
        Des fichiers partout
      </a>
    </li>
    <li>
      <a href="{{ url_for('blog', article='00011-l-enfer-des-paquets-python-la-boite-a-outils') }}">
        La boîte à outils
      </a>
    </li>
    <li>
      <a href="{{ url_for('blog', article='00013-l-enfer-des-paquets-python-l-expression-des-besoins') }}">
        L’expression des besoins
      </a>
    </li>
    <li>
      <a href="{{ url_for('blog', article='00015-l-enfer-des-paquets-python-la-solution-minimale') }}">
        La solution minimale
      </a>
    </li>
  </ol>
  <p>
    Avant toute autre chose, j’aimerais faire un gros bisou à l’ensemble des
    membres de l’équipe <a href="https://www.pypa.io/">PyPA</a>. Je me plains
    beaucoup dans cette suite d’articles, cela ne m’empêche pas d’avoir une
    immense et sincère dose de respect pour le travail sisyphéen déjà accompli.
  </p>
  <p>
    Ceci étant dit : nous voilà (re)partis pour le chouinage 😭.
  </p>
  <p>💕💕💕</p>
</section>
