@font-face {
  font-family: Cantarell;
  font-weight: 300;
  src: local("Cantarell-Light"), local("Cantarell Light"), local("Cantarell"), url(/static/fonts/Cantarell-Light.woff2);
}

@font-face {
  font-family: Cantarell;
  font-weight: normal;
  src: local("Cantarell-Regular"), local("Cantarell Regular"), local("Cantarell"), url(/static/fonts/Cantarell-Regular.woff2);
}

@font-face {
  font-family: Cantarell;
  font-weight: bold;
  src: local("Cantarell-Bold"), local("Cantarell Bold"), local("Cantarell"), url(/static/fonts/Cantarell-Bold.woff2);
}

@font-face {
  font-family: ForkAwesome;
  src: url(/static/fonts/ForkAwesome.woff2) format("woff2");
}

@font-face {
  font-family: Mononoki;
  src: url(/static/fonts/Mononoki.woff2) format("woff2");
}

::selection {
  background: #f7626244;
}

html {
  background-image: linear-gradient(135deg, #fbf8f955 25%, transparent 25%), linear-gradient(225deg, #fbf8f955 25%, transparent 25%), linear-gradient(45deg, #fbf8f955 25%, transparent 25%), linear-gradient(315deg, #fbf8f955 25%, #ffffff 25%);
  background-position: 31px 0, 31px 0, 0 0, 0 0;
  background-size: 62px 62px;
  background-repeat: repeat;
  color: #293462;
  font-family: Cantarell, sans-serif;
  font-size: 14pt;
  line-height: 1.4;
  overflow-x: hidden;
}
body {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 55em;
  padding: 0 5em;
}

body > nav {
  color: #f76262;
  height: 2em;
  order: -1;
  padding: 1em 0;
}
body > nav ul {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: flex-end;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
body > nav a {
  padding: 0 0 0 2em;
  text-decoration: inherit;
  transition: color 0.25s;
  white-space: nowrap;
}
body > nav a:hover{
  color: #293462;
}

body > header {
  background: linear-gradient(to right, #fff0 0%, #fffb 20%, #fffb 80%, #fff0 100%);
  color: white;
  display: flex;
  flex-direction: column;
  height: 12em;
  justify-content: center;
  position: relative;
}
body > header a {
  text-decoration: inherit;
}
body > header p {
  font-size: 1.2em;
  margin: 0.5em 0 1.5em;
}

footer {
  display: flex;
  font-size: 0.85em;
  justify-content: space-evenly;
  margin: 5em 0 0;
  opacity: 0.8;
  padding: 2em 5em 2em 2em;
}
footer h2 {
  font-size: 1rem;
  margin: 0 0 1em;
}
footer ul {
  list-style-type: none;
  padding: 0;
}
footer a {
  text-decoration: inherit;
  transition: color 0.25s;
}
footer a[data-icon]::before {
  content: attr(data-icon);
  font-family: ForkAwesome;
  padding-right: 0.5em;
}
footer a:hover{
  color: #f76262;
}

article {
  margin: 2em 0 0;
  padding: 0.25em 1em;
}

h1, h2, h3, h4 {
  font-weight: normal;
}
h1 {
  color: #293462;
  font-size: 6em;
  font-weight: bold;
  letter-spacing: -0.04em;
  margin: 0;
  text-align: center;
  text-transform: lowercase;
}
h1::after {
  border-top: 0.15em solid;
  content: '';
  color: #f76262;
  display: block;
  margin: -0.15em auto 0 auto;
  width: 2.3em;
}
h2 {
  font-size: 2.5em;
  font-weight: 300;
  text-decoration-color: yellow;
  text-decoration-line: underline;
  text-decoration-thickness: 0.2em;
}
h3 {
  font-size: 1.25em;
  font-weight: 300;
  margin: 1.25em 0 0.5em;
}
#page-blog article:not(#articles) h3 {
  margin-top: 3em;
}
h4 {
  font-weight: 300;
  margin: 1em 0;
}
h4 + * {
  margin-top: 0;
}
#page-blog article:not(#articles) h4 {
  margin-top: 3em;
}

p {
  hyphens: auto;
  -webkit-hyphens: auto;
}
#page-blog ul, #page-blog ol {
  padding-left: 0;
}
#page-blog dt {
  margin: 1em 0 0.5em;
}
a {
  color: inherit;
  text-decoration-color: #f76262;
}
code {
  background: #f7f7fa;
  font-family: Mononoki;
}
pre {
  background: #f7f7fa;
  margin: 0 -1rem;
  padding: 1rem;
  font-family: Mononoki;
  font-size: 0.85em;
  overflow-y: auto;
}
aside {
  font-weight: 300;
  font-size: 0.85em;
}
article:not(#articles) aside {
  margin-bottom: 2em;
}
sup {
  line-height: 0.8;
}

figure {
  font-size: 0.8em;
  margin: 2em;
  text-align: center;
}
figure img {
  border-radius: 0.2em;
  max-width: 60%;
}
figcaption {
  padding: 0.5em;
}
address {
  font-style: normal;
}
blockquote {
  padding: 1em 2em;
  position: relative;
  text-align: justify;
}
blockquote::before {
  content: '«';
  font-size: 5em;
  left: -1.5rem;
  line-height: 0;
  margin-top: -0.2em;
  opacity: 0.2;
  position: absolute;
  top: 50%;
}
blockquote::after {
  content: '»';
  font-size: 5em;
  line-height: 0;
  margin-top: -0.2em;
  opacity: 0.2;
  position: absolute;
  right: -1.5rem;
  top: 50%;
}
abbr {
  text-decoration: underline;
  text-decoration-color: #0002;
}

table {
  border-collapse: collapse;
  font-size: 0.9em;
  margin: 2em 0;
  text-align: center;
  width: 100%;
}
td {
  padding: 0.75em;
}
tbody tr:nth-child(even) {
  background: #f762620a;
}
thead {
  border-bottom: 1px solid #29346222;
  font-size: 1rem;
  font-weight: 300;
}

.tags {
  font-size: 0.8em;
  margin: 1em 0 2.5em;
  padding: 0;
}
.tags::before {
  content: '→';
}
.tags li {
  display: inline;
  padding: 0 0.25em;
}
.tags li::before {
  content: '#';
}

.button {
  background: #293462bb;
  border: 0.5px solid;
  border-radius: 0.2em;
  color: white;
  display: block;
  margin: 1em auto;
  padding: 0.5em 2.5em;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.5s, color 0.5s;
}
.button:hover {
  background: white;
  color: #293462bb;
}

.service section {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}
.service section > * {
  flex-grow: 1;
}
.service section > h3 {
  margin-top: 3em;
  width: 100%;
}
.service section > img {
  border-radius: 0.2em;
  box-shadow: 0 0.3em 0.5em #0001;
  width: 40%;
}
.service section > ul {
  box-sizing: border-box;
  margin: 0;
  padding: 0 2em;
  width: 60%;
}
.service section:nth-of-type(2n) img {
  order: 10;
}

.articles section {
  background: white;
  box-shadow: 0 0.1em 0.4em -0.1em #0002;
  border-radius: 0.2em;
  margin: 1em 0;
  overflow: hidden;
  padding: 1em;
}
.articles section img {
  border-radius: 0 0 50% 50% / 0 0 0.2em 0.2em;
  box-shadow: 0 0.3em 0.5em #0001;
  margin: -1em -1em -0.5em -1em;
  max-height: 12em;
  object-fit: cover;
  width: calc(2em + 100%);
}

.banner {
  box-shadow: 0 0 0.5em #0001;
  height: 10em;
  margin: 2em -100vw 0 50%;
  object-fit: cover;
  transform: translate(-50vw, 0);
  width: 100vw;
}

#baseline {
  color: #f76262;
  margin-top: 2em;
  text-align: center;
  text-transform: lowercase;
}
#conseiller-accompagner {
  margin: 3em 0;
}
#conseiller-accompagner ul {
  padding: 0;
}

#ecosysteme ul, #trust ul {
  list-style: none;
  padding: 0;
}
#ecosysteme img, #trust img {
  display: block;
  margin: auto;
  width: 50%;
}
#ecosysteme li a, #trust li a {
  color: transparent;
  font-size: 0;
  text-decoration: none;
}
#trust blockquote {
  margin: 2em auto;
}

#etapes h2 {
  width: 100%;
}
#etapes section h3 {
  flex: 1;
  flex-direction: column;
  margin-top: -1rem;
  text-align: center;
}
#etapes section h3::before {
  background: #293462bb;
  color: white;
  content: attr(data-icon);
  display: block;
  font-family: ForkAwesome;
  font-size: 100pt;
  line-height: 1.3;
  margin: 0 -1rem 2rem -1rem;
  text-shadow: 0 0.1em 0.1em #0002;
}
#etapes section {
  background: white;
  box-shadow: 0 0.1em 0.4em -0.1em #0002;
  border-radius: 0.2em;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  overflow: hidden;
  padding: 1em;
}
#etapes section p {
  height: 100%;
}

#page-about img {
  border-radius: 0.2em;
  box-shadow: 0 0.1em 0.4em -0.1em #0002;
  clear: right;
  float: right;
  max-width: 30%;
  margin: 3em 1em 0;
}


@media screen and (max-width: 920px) {
  body {
    padding: 0 1em;
  }

  body > header {
    height: auto;
  }

  body > nav {
    display: block;
    height: 3em;
    margin: 0 0 0 auto;
    overflow: hidden;
    transition-delay: 0.5s;
    transition-property: z-index;
    width: 3em;
    z-index: 3;
  }
  body::before,
  body > nav::before {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
  }
  body::before {
    color: #f76262;
    content: "⨯";
    height: 1rem;
    padding: 1rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 1rem;
    z-index: 2;
  }
  body > nav::before {
    background: white;
    content: "☰";
    margin-bottom: 1em;
  }
  body > nav:hover {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    width: 100%;
    z-index: 1;
  }
  body > nav:hover ul {
    align-items: center;
    flex: 1;
    flex-direction: column;
    justify-content: center;
  }
  body > nav:hover li:last-child {
    margin-left: 0;
  }
  body > nav:hover a {
    display: block;
    padding: 1em;
  }
  body > nav:hover ~ * {
    display: block !important;
    height: 0 !important;
    margin: 0 !important;
    overflow: hidden;
  }
  body > nav:hover::before {
    display: none;
  }

  #ecosysteme li, #trust li {
    margin: 1em;
    width: 70%;
  }

  [id^="page-services-"] img,
  #page-about img {
    display: none;
  }

  footer {
    display: block;
    margin: 0.5em 0 1em;
  }
  footer h2 {
    margin: 1em 0 0.5em;
  }
  footer ul {
    margin: 0;
  }
}


@media screen and (min-width: 921px) {
  body > header::before {
    background: center / cover url(images/other-breakfast.jpg) no-repeat;
    box-shadow: 0 0 0.5em #0001;
    content: "";
    height: 12em;
    margin: 0 -120vw 0 50%;
    position: absolute;
    top: 0;
    transform: translate(-60vw, 0) rotate(5deg);
    width: 120vw;
    z-index: -1;
  }

  main h2 {
    text-align: center;
  }

  .articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .articles h2 {
    width: 100%;
  }
  .articles section {
    box-sizing: border-box;
    width: 32%;
  }

  #etapes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  #articles section:first-of-type {
    width: 100%;
  }
  #articles section:first-of-type img {
    border-radius: 0 0 0.5em 0 / 0 0 100% 0;
    float: left;
    margin-bottom: -1em;
    margin-right: 1em;
    max-height: none;
    max-width: 50%;
  }

  #conseiller-accompagner {
    display: flex;
    flex-wrap: wrap;
  }
  #conseiller-accompagner > * {
    box-sizing: border-box;
    padding: 0.5em;
    width: 50%;
  }
  #conseiller-accompagner h2 {
    align-items: center;
    display: flex;
    margin: 0;
    align-items: flex-start;
    justify-content: center;
    text-align: right;
  }

  #etapes section {
    max-width: 32%;
  }

  #ecosysteme ul, #trust ul {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  #ecosysteme li, #trust li {
    text-align: center;
    width: 30%;
  }
}


/* pygments */
.hll { background-color: #ffffcc }
.c { color: #408080 } /* Comment */
.err { border: 1px solid #FF0000 } /* Error */
.k { color: #008000 } /* Keyword */
.o { color: #666666 } /* Operator */
.ch { color: #408080 } /* Comment.Hashbang */
.cm { color: #408080 } /* Comment.Multiline */
.cp { color: #BC7A00 } /* Comment.Preproc */
.cpf { color: #408080 } /* Comment.PreprocFile */
.c1 { color: #408080 } /* Comment.Single */
.cs { color: #408080 } /* Comment.Special */
.gd { color: #A00000 } /* Generic.Deleted */
.gr { color: #FF0000 } /* Generic.Error */
.gh { color: #000080 } /* Generic.Heading */
.gi { color: #00A000 } /* Generic.Inserted */
.go { color: #888888 } /* Generic.Output */
.gp { color: #000080 } /* Generic.Prompt */
.gu { color: #800080 } /* Generic.Subheading */
.gt { color: #0044DD } /* Generic.Traceback */
.kc { color: #008000 } /* Keyword.Constant */
.kd { color: #008000 } /* Keyword.Declaration */
.kn { color: #008000 } /* Keyword.Namespace */
.kp { color: #008000 } /* Keyword.Pseudo */
.kr { color: #008000 } /* Keyword.Reserved */
.kt { color: #B00040 } /* Keyword.Type */
.m { color: #666666 } /* Literal.Number */
.s { color: #BA2121 } /* Literal.String */
.na { color: #7D9029 } /* Name.Attribute */
.nb { color: #008000 } /* Name.Builtin */
.nc { color: #0000FF } /* Name.Class */
.no { color: #880000 } /* Name.Constant */
.nd { color: #AA22FF } /* Name.Decorator */
.ni { color: #999999 } /* Name.Entity */
.ne { color: #D2413A } /* Name.Exception */
.nf { color: #0000FF } /* Name.Function */
.nl { color: #A0A000 } /* Name.Label */
.nn { color: #0000FF } /* Name.Namespace */
.nt { color: #008000 } /* Name.Tag */
.nv { color: #19177C } /* Name.Variable */
.ow { color: #AA22FF } /* Operator.Word */
.w { color: #bbbbbb } /* Text.Whitespace */
.mb { color: #666666 } /* Literal.Number.Bin */
.mf { color: #666666 } /* Literal.Number.Float */
.mh { color: #666666 } /* Literal.Number.Hex */
.mi { color: #666666 } /* Literal.Number.Integer */
.mo { color: #666666 } /* Literal.Number.Oct */
.sa { color: #BA2121 } /* Literal.String.Affix */
.sb { color: #BA2121 } /* Literal.String.Backtick */
.sc { color: #BA2121 } /* Literal.String.Char */
.dl { color: #BA2121 } /* Literal.String.Delimiter */
.sd { color: #BA2121 } /* Literal.String.Doc */
.s2 { color: #BA2121 } /* Literal.String.Double */
.se { color: #BB6622 } /* Literal.String.Escape */
.sh { color: #BA2121 } /* Literal.String.Heredoc */
.si { color: #BB6688 } /* Literal.String.Interpol */
.sx { color: #008000 } /* Literal.String.Other */
.sr { color: #BB6688 } /* Literal.String.Regex */
.s1 { color: #BA2121 } /* Literal.String.Single */
.ss { color: #19177C } /* Literal.String.Symbol */
.bp { color: #008000 } /* Name.Builtin.Pseudo */
.fm { color: #0000FF } /* Name.Function.Magic */
.vc { color: #19177C } /* Name.Variable.Class */
.vg { color: #19177C } /* Name.Variable.Global */
.vi { color: #19177C } /* Name.Variable.Instance */
.vm { color: #19177C } /* Name.Variable.Magic */
.il { color: #666666 } /* Literal.Number.Integer.Long */
