<html lang="fr">
  <head>
    <title>Stella{% if title %} − {{ title }}{% endif %}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Ingéniérie et développement, Web, Intégration continue, Python, RGPD, DevOps, Logiciel libre…">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}" />
    <link rel="alternate" type="application/rss+xml" title="Blog Stella.coop" href="{{ url_for('rss') }}" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@stellalyon69" />
    <meta name="twitter:title" content="Stella{% if title %} - {{ title }}{% endif %}" />
    <meta name="twitter:description" content="
                {%- if description -%}
                {{ description }}
                {%- else -%}
                Ingéniérie et développement, Web, Intégration continue, Python, RGPD, DevOps, Logiciel libre…
                {%- endif -%}" />
    <meta name="twitter:image" content="
                {%- if image -%}
                {{ image }}
                {%- else -%}
                {{ url_for('static', filename='images/twitter.png') }}
                {%- endif -%}" />
    <script>/* Stupid hack for iOS :hover */ document.addEventListener("touchstart", function(){}, true);</script>
  </head>
  <body id="page-{{ (request.view_args.page or 'index').replace('/', '-') if request.endpoint == 'page' else  request.endpoint }}">
    <header>
      <h1><a href="{{ url_for('page') }}">Stella</a></h1>
    </header>

    <nav>
      <ul>
        <li><a href="{{ url_for('page') }}">Accueil</a></li>
        <li><a href="{{ url_for('page', page='about') }}">À propos</a></li>
        <li><a href="{{ url_for('blog') }}">Blog</a></li>
      </ul>
    </nav>

    <main>
      {% block content %}{% endblock content %}
    </main>

    <footer>
      <section>
        <h2>Adresse</h2>
        <address>
          Elycoop<br />
          Pôle Pixel − Bât. B<br />
          26 rue Émile Decorps<br />
          69100 Villeurbanne
        </address>
      </section>

      <section>
        <h2>Contact</h2>
        <ul>
          <li><a href="mailto:contact&#64;stella.coop">contact&#64;stella.coop</a></li>
        </ul>
      </section>

      <section>
        <h2>Suivez-nous</h2>
        <ul>
          <li><a data-icon="" href="https://www.linkedin.com/company/stella-lyon/about/">LinkedIn</a></li>
          <li><a data-icon="" href="https://twitter.com/stellalyon69">Twitter</a></li>
          <li><a data-icon="" href="https://github.com/liZe">GitHub Guillaume</a></li>
          <li><a data-icon="" href="https://github.com/grewn0uille">GitHub Lucie</a></li>
          <li><a data-icon="" href="{{ url_for('rss') }}">RSS</a></li>
        </ul>
      </section>

      <section>
        <h2>Crédits</h2>
        <ul>
          <li><a href="{{ url_for('page', page='legal') }}">Mentions légales</a></li>
        </ul>
      </section>
    </footer>
  </body>
</html>
