{% extends '_layout.jinja2' %}

{% block content %}
  <img src="{{ url_for('static', filename='images/guillaume.jpg') }}" />
  <img src="{{ url_for('static', filename='images/lucie.jpg') }}" />

  <article>
    <h2>Vous avez envie d’évoluer ?</h2>

    <p>
      Vous travaillez au sein d’une équipe éthique et responsable, vous aimez
      les choses simples et bien faites… Nous aussi ! Mais malgré votre
      investissement, il vous arrive de manquer parfois de temps pour mettre en
      œuvre les bons outils et les bonnes pratiques numériques.
    </p>
    <p>
      Nous aimerions beaucoup partager notre expérience avec vous :).
    </p>
  </article>

  <article>
    <h2>Stella vous accompagne</h2>

    <p>
      Nous avons à cœur de vous accompagner honnêtement dans la mise en place
      de fondations solides pour tout ce qui concerne le numérique.
    </p>
    <p>
      Nous souhaitons avant tout vous permettre de mieux comprendre les enjeux
      liés au numérique, pour vous assurer de rester vertueux et indépendant
      tout au long de votre développement.
    </p>
  </article>
{% endblock content %}
