<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0">
  <channel>
    <title>Stella</title>
    <description>Ingéniérie et développement, Données personnelles, Intégration continue, Logiciel libre</description>
    <link>https://stella.coop/</link>
    <lastBuildDate>{{ (articles.values()| list)[0].date }}</lastBuildDate>
    <ttl>86400</ttl>

    {% for article in articles.values() %}
      <item>
        <title>{{ article.title | e }}</title>
        <description>{{ article.description | e }}</description>
        <link>https://stella.coop{{ url_for('blog', article=article.filename) }}</link>
        <guid>https://stella.coop{{ url_for('blog', article=article.filename) }}</guid>
        <pubDate>{{ article.date }}</pubDate>
      </item>
    {% endfor %}

  </channel>
</rss>
