{% set title = 'Blog' %}

{% extends '_layout.jinja2' %}

{% block content %}
  <article id="articles" class="articles">
    <h2>Blog</h2>

    {% for article in articles.values() %}
      <section>
        <img loading="lazy" src="{{ url_for('static', filename=(article.image or 'images/lyon.jpg')) }}" alt="{{ article.title }}" />
        {{ article.introduction }}
        <nav>
          <p><a href="{{ url_for('blog', article=article.filename) }}">Lire la suite…</a></p>
        </nav>
      </section>
    {% endfor %}
  </article>
{% endblock content %}
