  <article id="contact">
    <h2>Contact</h2>
    <p>
      Vous souhaitez discuter avec nous autour d’un verre ? Envoyez-nous un
      petit mot à
      <a href="mailto:contact&#64;stella.coop">contact&#64;stella.coop</a>,
      nous vous recontacterons sans tarder.
    </p>
  </article>