{% set title = 'DevOps, intégration et déploiement continus' %}

{% extends '_layout.jinja2' %}

{% block content %}
  <article class='service'>
    <h2>Intégration continue</h2>

    <section>
      <h3>Vous avez besoin de…</h3>
      <img src="{{ url_for('static', filename='images/growing-plant.jpg')  }}" />

      <ul>
        <li>Simplifier la mise en production de vos services</li>
        <li>Automatiser le lancement des tests de vos applications</li>
        <li>Déployer en toute sérénité de nouvelles fonctionnalités</li>
      </ul>
    </section>

    <section>
      <h3>Nous vous proposons…</h3>
      <img src="{{ url_for('static', filename='images/flower.jpg')  }}" />

      <ul>
        <li>Mise en place de pipelines de tests avec GitLab CI et GitHub Actions</li>
        <li>Déploiement automatique sur des plateformes de test</li>
        <li>Automatisation de la mise en production des services</li>
      </ul>
    </section>
  </article>

  {% include 'steps.html.jinja2' %}

  {% include 'contact.html.jinja2' %}

{% endblock content %}
