{% set title = 'Données personnelles' %}

{% extends '_layout.jinja2' %}

{% block content %}
  <article class='service'>
    <h2>Données personnelles</h2>

    <section>
      <h3>Vous avez besoin de…</h3>
      <img src="{{ url_for('static', filename='images/growing-plant.jpg')  }}" />

      <ul>
        <li>Connaître et comprendre le RGPD</li>
        <li>Évaluer le niveau de conformité au RGPD de votre organisme</li>
        <li>Développer un projet en respectant les règlementations</li>
        <li>Connaître les bonnes pratiques sur la gestion de données personnelles</li>
      </ul>
    </section>

    <section>
      <h3>Nous vous proposons…</h3>
      <img src="{{ url_for('static', filename='images/flower.jpg')  }}" />

      <ul>
        <li>Présentation du RGPD à vos équipes</li>
        <li>Audit des outils, organisation et prestataires de votre organisme</li>
        <li>Conseil sur les bonnes pratiques à adopter pour la réalisation d’un projet</li>
        <li>Accompagnement à la rédaction des registres obligatoires</li>
      </ul>
    </section>
  </article>

  {% include 'steps.html.jinja2' %}

  {% include 'contact.html.jinja2' %}

{% endblock content %}
