{% set title = 'Ingéniérie et développement' %}

{% extends '_layout.jinja2' %}

{% block content %}
  <article class='service'>
    <h2>Ingénierie et développement</h2>

    <section>
      <h3>Vous avez besoin de…</h3>
      <img src="{{ url_for('static', filename='images/growing-plant.jpg') }}" />


      <ul>
        <li>Développer des outils pour vous et pour vos clients</li>
        <li>Architecturer et organiser vos projets numériques</li>
        <li>Améliorer la qualité et la maintenabilité de votre base de code</li>
        <li>Mettre en place des outils réellement adaptés et utiles aux utilisateurs</li>
      </ul>
    </section>

    <section>
      <h3>Nous vous proposons…</h3>
      <img src="{{ url_for('static', filename='images/flower.jpg') }}" />

      <ul>
        <li>Concevoir et développer vos projets informatiques</li>
        <li>Accompagner vos équipes sur Python et les technologies du web</li>
        <li>Réaliser des audits concernant l’architecture, la qualité, la maintenabilité de vos outils</li>
        <li>Superviser la réussite des projets numériques, de leur conception à leur mise en production</li>
      </ul>
    </section>
  </article>

  {% include 'steps.html.jinja2' %}

  {% include 'contact.html.jinja2' %}

{% endblock content %}
