{% set title = 'Pour vous accompagner dans vos choix numeriques' %}

{% extends '_layout.jinja2' %}

{% block content %}

  <p id="baseline">Pour vous accompagner dans vos choix numériques</p>

  <article id="conseiller-accompagner">
    <h2>Conseiller Accompagner</h2>

    <section>
      <p>
        Vous voulez développer et utiliser des outils réellement utiles ? Vous
        souhaitez suivre des pratiques responsables et durables dans vos projets
        numériques ?
      </p>
      <p>
        Nous avons à cœur de vous connaître et de vous accompagner
        dans la mise en place de fondations solides sur ces sujets :
      </p>
      <ul>
        <li><a href="{{ url_for('page', page='engineer-development') }}">Ingénierie informatique</a></li>
        <li><a href="{{ url_for('page', page='data') }}">RGPD &amp; données personnelles</a></li>
        <li><a href="{{ url_for('page', page='continous-integration') }}">DevOps, intégration &amp; déploiement continus</a></li>
        <li><a href="{{ url_for('page', page='open-source-software') }}">Logiciel libre &amp; stratégie Open Source</a></li>
      </ul>
    </section>
  </article>

  <img class="banner" src="{{ url_for('static', filename='images/cactus.jpg') }}" />

  <article id="derniers-articles" class="articles">
    <h2>Articles</h2>

    {% for article in articles.values() %}
    <section>
      <img src="{{ url_for('static', filename=(article.image or 'images/lyon.jpg')) }}" alt="{{ article.title }}" />
      {{ article.introduction }}
      <nav>
        <p><a href="{{ url_for('blog', article=article.filename) }}">Lire l’article</a></p>
      </nav>
    </section>
    {% endfor %}

    <a class="button" href="{{ url_for('blog') }}">Blog</a>
  </article>

  <img class="banner" src="{{ url_for('static', filename='images/breakfast.jpg')  }}" />

  <article id="ecosysteme">
    <h2>Écosystème</h2>

    <ul>
      <li><a href="https://www.elycoop.fr/"><img src="{{ url_for('static', filename='images/logo-elycoop.png') }}" title="Elycoop" alt="Elycoop" />Elycoop</a></li>
      <li><a href="https://www.afpy.org/"><img src="{{ url_for('static', filename='images/logo-afpy.svg') }}" title="AFPy" alt="AFPy" />AFPy</a></li>
    </ul>
  </article>

  <article id="trust">
    <h2>Ils nous font confiance</h2>

    <ul>
      <li><a href="https://hashbang.coop/"><img src="{{ url_for('static', filename='images/logo-hashbang.png') }}" title="Hashbang" alt="Hashbang" />Hashbang</a></li>
      <li><a href="https://framasoft.org/"><img src="{{ url_for('static', filename='images/logo-framasoft.png') }}" title="Framasoft" alt="Framasoft" />Framasoft</a></li>
      <li><a href="http://www.macguff.com/"><img src="{{ url_for('static', filename='images/logo-macguff.jpg') }}" title="Mac Guff" alt="Mac Guff" />Mac Guff</a></li>
    </ul>

    <blockquote>
      La collaboration avec Stella sur les bonnes pratiques RGPD est
      particulièrement efficace pour Mac Guff : des formations périodiques ont
      permis de sensibiliser le personnel, un suivi régulier de l'avancement
      des travaux assure la continuité et une réflexion globale face aux enjeux
      de sécurité crédibilise notre société d'effets visuels d'un point de vue
      national et international.
    </blockquote>
  </article>

  {% include 'contact.html.jinja2' %}

{% endblock content %}
