{% set title = 'Mentions légales' %}

{% extends '_layout.jinja2' %}

{% block content %}

  <article id="legal">
    <h2>Mentions légales</h2>

    <section>
      <h3>Éditeur</h3>
      <p>Stella</p>
      <dl>
        <dt>Email</dt>
        <dd><a href="mailto:contact&#64;stella.coop">contact&#64;stella.coop</a></dd>
        <dt>Forme juridique</dt>
        <dd>Stella est une marque d’Elycoop − SCOP SA</dd>
        <dt>Adresse du siège social</dt>
        <dd>
          <address>
            Elycoop<br />
            Pôle Pixel − Bât. B<br />
            26 rue Émile Decorps<br />
            69100 Villeurbanne
          </address>
        </dd>
        <dt>Directeurs de la publication</dt>
        <dd>Lucie Anglade et Guillaume Ayoub</dd>
        <dt>Site</dt>
        <dd><a href="https://stella.coop">https://stella.coop</a></dd>
      </dl>

      <h3>Hébergement</h3>
      <p>
        Ce site Web est hébergé sur un serveur Scaleway Dedibox dédié.
      </p>
      <dl>
        <dt>Adresse</dt>
        <dd>
          <address>
            Online<br />
            BP 438<br />
            75366 Paris CEDEX 08
          </address>
        </dd>
        <dt>Téléphone</dt>
        <dd><a href="tel:+33 (0)1 84 13 00 00">+33 (0)1 84 13 00 00</a></dd>
        <dt>Site</dt>
        <dd><a href="https://www.scaleway.com/fr/dedibox/">https://www.scaleway.com</a></dd>
      </dl>

      <h3>Cookies et mesure d’audience</h3>
      <p>
        Aucun cookie ou outil de mesure d’audience n’est utilisé :).
      </p>

      <h3>Données personnelles</h3>
      <p>
        Lors de votre navigation sur le site, des données vous identifiant
        indirectement (via le user-agent envoyé par votre navigateur) sont
        collectées. Elles nous permettent de vérifier le bon fonctionnement du
        site et sont conservées pendant 4 semaines.
      </p>
      <p>
        Vous pouvez à tout moment demander l’accès, la modification ou la
        suppression des données vous concernant en envoyant un message
        à <a href="mailto:rgpd&#64;stella.coop">rgpd&#64;stella.coop</a>.
      </p>
      <p>
        Pour en savoir plus sur vos droits en matière de vie privée,
        rendez-vous sur
        <a href="https://www.cnil.fr">https://www.cnil.fr</a>.
      </p>
    </section>
  </article>

{% endblock content %}
