{% set title = 'Logiciel libre' %}

{% extends '_layout.jinja2' %}

{% block content %}
  <article class='service'>
    <h2>Logiciel libre</h2>

    <section>
      <h3>Vous avez besoin de…</h3>
      <img src="{{ url_for('static', filename='images/growing-plant.jpg')  }}" />

      <ul>
        <li>Avoir la main sur les outils que vous utilisez et moins dépendre des GAFAM</li>
        <li>Partager vos logiciels avec des groupes d’utilisateurs et de développeurs</li>
        <li>Construire et animer une communauté autour de vos logiciels</li>
      </ul>
    </section>

    <section>
      <h3>Nous vous proposons…</h3>
      <img src="{{ url_for('static', filename='images/flower.jpg')  }}" />

      <ul>
        <li>Présenter la philosophie du logiciel libre, ses avantages et inconvénients</li>
        <li>Établir une stratégie autour de l’utilisation et de la création de logiciels libres</li>
        <li>Mettre en place des bonnes pratiques en vue de développer son rapport à la communauté</li>
      </ul>
    </section>
  </article>

  {% include 'steps.html.jinja2' %}

  {% include 'contact.html.jinja2' %}

{% endblock content %}
