<article id="etapes">
    <h2>Comment ça marche</h2>

    <section>
        <h3 data-icon="">Discutons autour d’un café</h3>
        <p>
        Nous vous amenons le petit-déjeuner et nous discutons de vos envies
        d’évolution. Nous échangeons si besoin avec les membres de votre équipe
        pour mieux cerner votre fonctionnement actuel et vos attentes. C’est
        gratuit et ça n’engage à rien ;).
        </p>
    </section>

    <section>
        <h3 data-icon="">Des pistes pour s’améliorer</h3>
        <p>
        Nous vous proposons des pistes d’amélioration et les premières étapes
        que nous pouvons mettre en œuvre. Nous vous proposons une estimation du
        temps et des coûts nécessaires.
        </p>
    </section>

    <section>
        <h3 data-icon="">C’est parti !</h3>
        <p>
        Nous réalisons et installons les fondations de ce que vous voulez
        construire. Selon vos priorités et votre calendrier, nous accompagnons
        les membres de votre équipe dans leur développement.
        </p>
    </section>
</article>